[2020-01-09 16:37] vidarmehr opened #1 "Check number of edges of the Karate training graph"
There are 75 lines in karate.train. So, I think the total number of edges (using CSFgraph) should be 150. But, it is 148.

[2020-01-09 19:48] #1 closed, assigned to vidarmehr

[2020-01-10 18:15] vidarmehr opened #2 "generate random negative edges"
I think the generate random negative edges method does not generate completely "random" edges. IT.combination generates all combinations of edges, but I don't think how random are edges that we get.

[2020-01-10 23:22] vidarmehr opened #4 "New branch?"
@pnrobinson

Hi Peter,
Did you create a new branch called develop? I don't see it. Could you please check in the new branch?
Thank you.

[2020-01-11 13:07] LucaCappelletti94 opened #6 "Unable to run test suite"
Hello,

I am Luca, a PhD student from the AnacletoLab (University of Milan). I have started to take a look at the code, and I was beginning from running the present test suite.

However, it fails since it tries [to import the class `Graph` from hetnode2vec at line 6 of the file test_node2vec.py](https://github.com/TheJacksonLaboratory/N2V/blob/8b361a1a8417bb01f6da79afdcef49a220c32e76/tests/test_no

[2020-01-11 13:50] #4 closed, assigned to nobody

[2020-01-11 20:17] pnrobinson commented on #6
seems to be working now. We are going to try and setup travis etc but this requires getting permissions set up on the JAX github (I will work on this)

[2020-01-11 20:17] #6 closed

[2020-01-11 20:20] pnrobinson commented on #2
I do not think we want to have this method be a part of our package, since the correct "negative" edges are implementation dependent. Using IT.combination to generate all combinations of edges is very slow for large graphs. I do not think we should worry that much about this method and we can remove it from the code before we publish the package

[2020-01-12 15:14] vidarmehr commented on #2
Oh, oK! I agree.

[2020-01-12 15:14] #2 closed

[2020-01-14 16:24] LucaCappelletti94 opened #11 "Various CI service integration"
Currently, it is not possible to integrate the repository with various CI services to automate testing and code evaluation. How is the process of approval by the admins going?

I believe that any person that is part of [TheJacksonLaboratory](https://github.com/TheJacksonLaboratory) organization on GitHub should be able to add the integrations, maybe [Peter](https://github.com/pnrobinson) could be

[2020-01-14 16:25] pnrobinson commented on #11
I have asked them to provide permissions and am waiting for a response.

[2020-01-15 03:50] pnrobinson opened #12 "started to implement CBOW"
The size of stacked_embeddings is causing an error (line word2vec.py 418).
Some seems different with the API for TF 1 and 2.

[2020-01-17 11:57] pnrobinson opened #14 "Consider refactor with keras style"
See Part II: Writing your own training & evaluation loops from scratch
https://www.tensorflow.org/guide/keras/train_and_evaluate

[2020-01-17 11:57] pnrobinson opened #15 "Callback to tensorboard"
to visualize embeddings using tensorboard

See example https://www.tensorflow.org/guide/keras/train_and_evaluate

[2020-01-17 11:58] pnrobinson opened #16 "EarlyStopping"
Consider using
 keras.callbacks.EarlyStopping
However, since we are training in minibatches, there will be a lot of fluctuation  so we need to have a long memory

[2020-01-17 19:26] pnrobinson opened #17 "Parallel code not working"
This is the new code
[code]
However, when using a 'realistic graph with 20,000 nodes and 400,000 edges, the code gets stuck here. It outputs the following :
[code]
htop shows that 8 processors are working full steam. However, python appears to create 20,000 processes, which surely is not the best way of doing things. I am not sure when this will be finished but I let this go for 3 hours yesterday

[2020-01-17 20:20] pnrobinson commented on #17
This may have been premature -- it did run now and seems ok. Can we add some print/log statements to show progress?

[2020-01-17 20:22] justaddcoffee commented on #17
Sure, no problem. Could you show me the command you are running to test this?

[2020-01-17 20:25] pnrobinson commented on #17
In the file "generate_rand_graph.py", I did this

num_nodes =  20000
num_edges = 4000000
max_weight = 100
# graph = nx.complete_graph(num_nodes)  !!!! Otherwise networkx takes a long time and we do not need this

and the in the file "runDiseaseGeneEmbedding.py I made this change
training_file = 'tests/data/rand_20000nodes_400000edges.graph'

It does seem there is a pretty big speedup. tensorflow i

[2020-01-17 22:19] justaddcoffee commented on #17
Sure, glad that parallelization is working, and glad to pair programming whenever it's convenient. Possibly Monday or Tuesday? Or could find time right now if you are around.

Without any objection, I'll close this issue, since the parallelization seems to be working...

[2020-01-17 22:38] #17 closed

[2020-01-18 17:19] LucaCappelletti94 opened #21 "Cannot execute parse: missing test file"
Hello everyone,

May I ask where I can find the file `small_g2d_test.txt`?

I am trying to extend the test suite and without it, I cannot run the `n2vParser` class method's `parse`.

[2020-01-18 17:26] vidarmehr commented on #21
Dear Luca,

Here is the lines of small_g2d_test.txt:
g2972	d616202	1000.0
g6664	d615866	1000.0
g9731	d616781	1000.0
g4913	d616415	1000.0
g2549	d605428	1000.0
g79797	d616469	1000.0
g79797	d616468	1000.0
g1503	d615897	1000.0
g4043	d615431	1000.0
g10058	d609153	1000.0
g2263	d609579	1000.0
g1314	d616414	1000.0
g25885	d616462	1000.0
g10126	d616059	1000.0
g8878	d616437	1000.0
g4040	d616724	1000.0
g84823

[2020-01-18 17:28] vidarmehr commented on #21
I also uploaded the file in test/data.

[2020-01-18 21:22] LucaCappelletti94 commented on #21
Thank you, perfect!

I have a similar issue with `g2d_association_9_2017_test` for testing the execution of `output_nodes_and_edges_test_set` and I'm guessing another file for `output_nodes_and_edges ` and `gene_protein_disease_edges`.

Could you recover also files to test these methods?

[2020-01-18 21:42] LucaCappelletti94 opened #22 "Method `predict_links` fails on execution"
Some methods from the class [`LinkPrediction`](https://github.com/TheJacksonLaboratory/N2V/blob/master/n2v/link_prediction.py) fail the execution in a basic example (that might be wrong) that I tried to setup in [the class test suite](https://github.com/TheJacksonLaboratory/N2V/blob/master/tests/test_link_prediction.py#L35).

The methods are:

- [`predict_links `](https://github.com/TheJacksonLabo

[2020-01-18 21:59] LucaCappelletti94 opened #23 "Need file for testing read_databz2 of class TextEncoder"
I need a bz2 file to test the [`read_databz2`](https://github.com/TheJacksonLaboratory/N2V/blob/38664057ac05b336bd5da7db01bee73f7cb54b73/n2v/text_encoder.py#L65) method of the class [`TextEncoder `](https://github.com/TheJacksonLaboratory/N2V/blob/38664057ac05b336bd5da7db01bee73f7cb54b73/n2v/text_encoder.py#L11).

Thank you!

[2020-01-18 22:02] pnrobinson commented on #23
Hi Luca!
we were using a pretty large file in bz2 format that was about 5 Gb of wikipedia. I am not sure we really need this method for the package but it might be convenient to keep. If you want to test the method, I would suggest creating a small file with 5 sentences and then just creating a bz2 file for the test archive. Something like this:

sudo apt install bzip2
bzip2 -z filename

[2020-01-18 22:09] LucaCappelletti94 commented on #23
From which file I could extract a few sentences that could be useful in this test?

[2020-01-18 23:08] pnrobinson commented on #23
I think there is not too much to test here. Basically the only thing to test is if we extract sentences from a bzip'd file.

[2020-01-19 08:25] LucaCappelletti94 opened #24 "Absolute paths in code relative to Peter's computer"
Hello,

I was trying to base some tests on the `run*` files in the root of the repositories, and in one of them, [`runDiseaseLinkPrediction.py`](https://github.com/TheJacksonLaboratory/N2V/blob/master/runDiseaseLinkPrediction.py), there are absolute paths to some files. Are these files too big to be in the repository? How big are they? Is there an equivalent in the test repository?

- [`"/home/rob

[2020-01-19 13:07] vidarmehr commented on #24
Hi Luca,

I uploaded g2d_test.txt file, but edgelist is too big to be in the repository.

[2020-01-19 13:17] LucaCappelletti94 commented on #24
Ok, could you upload a working fraction of the file? How big is the file? Maybe if compressed could get below the 100MB threshold.

Thanks!

[2020-01-19 13:18] LucaCappelletti94 commented on #23
Ok, still from which one of the files I could extract the sentences?

Thanks!

[2020-01-19 13:21] vidarmehr commented on #21
I added g2d_associations_test_9_2017

[2020-01-19 13:24] vidarmehr commented on #24
Yes. I uploaded edgelist.txt.zip.

[2020-01-19 14:00] vidarmehr commented on #22
The parameters are wrong.
LinkPrediction(train_graph, test_graph, embedded_train_graph_path, params={}):
where parameters are edge_embedding method and portion_false_edges.

The parameters that you entered are: LinkPrediction(train, train, inputfile, params=params).
The second train, inputfile and params are wrong.

[2020-01-19 14:02] LucaCappelletti94 commented on #22
Ok, thanks! I will soon rewrite the test based on the file [`runDiseaseLinkPrediction.py`](https://github.com/TheJacksonLaboratory/N2V/blob/master/runDiseaseLinkPrediction.py), now that you have uploaded the required files.

[2020-01-19 15:27] #21 closed

[2020-01-19 15:46] LucaCappelletti94 commented on #24
Ok, now it seems like the [`"'disease.embedded'"`](https://github.com/TheJacksonLaboratory/N2V/blob/dc8ec72fa49993aa44ebe8af0181949f12931000/runDiseaseLinkPrediction.py#L18) is missing. Could you upload it, or where could I find it?

[2020-01-19 15:47] LucaCappelletti94 commented on #24
Oh I see it is rendered by the other method.

[2020-01-19 16:00] vidarmehr commented on #24
embedded_graph is the embedding of the training graph which is obtained using Node2Vec.

[2020-01-19 16:09] #24 closed

[2020-01-19 16:09] #22 closed

[2020-01-19 16:16] LucaCappelletti94 opened #25 "Class ContinuousBagOfWordsWord2Vec is never used"
Since the class [`ContinuousBagOfWordsWord2Vec`](https://github.com/TheJacksonLaboratory/N2V/blob/306d14690ff2834604dbba0b27c7ded5a8521450/n2v/word2vec.py#L335) is never used I was wondering if it will ever be, and if that was to be the case we should remove it.

If it is useful, which parameters could I use for adding a simple test for the class?

[2020-01-19 19:27] pnrobinson commented on #25
@LucaCappelletti94  The CBOW does not work yet. I am also thinking that we should refactor the word2vec code to use the inheritance based keras framework. Therefore it might be good to wait a little bit before adding tests. I would suggest the architecture be
Word2Vec (superclass)
-- deals with parameters and has common set of methods for things like getters (accuracy history etc)

SkipGram
CBOW
P

[2020-01-20 23:02] pnrobinson opened #26 "Graph class too dependent on node names"
right now the graph class expects the class of nodes to be encoded with the first character of the name. We should consider keep that for now, but if any of the nodes does not start with a letter, disactivating the heterogeneous algorithm.

[2020-01-21 04:29] vidarmehr commented on #26
I fixed the issue with my code. It was actually not related to CFSGraph class. Also, it does not seem to me that nodes must start with a letter:

`fields = line.rstrip('\n').split()`
`if not len(fields) == 3:`
          `print("[ERROR] Skipping malformed line with {} fields ({}).".format(len(fields), line))`
           `continue`
`nodeA = fields[0]`
`nodeB = fields[1]`

[2020-01-22 15:57] pnrobinson opened #29 "click error messages are not helpful"
running runAnalysis.py -t <file> gives the error message that the option -t is not recognized but should say that a command (e.g. disease-gene-embedding) is required)

Also can be delete the click branch?

[2020-01-22 17:48] pnrobinson commented on #29
Thanks, done!

[2020-01-22 17:48] #29 closed

[2020-01-22 18:32] pnrobinson commented on #12
think this is working now thanks Tiffany

[2020-01-22 18:32] #12 closed

[2020-01-24 17:38] pnrobinson opened #31 "add get batch from list of lists for CBOW"
Consider adding this to superclass

[2020-01-24 17:57] pnrobinson opened #32 "extend or append"
# should this be extend or append??  -- next_batch (SG)
            batch = np.append(batch, current_batch)
            labels = np.append(labels, current_labels, axis=0)

[2020-01-24 19:29] pnrobinson opened #34 "Move to Monarch GitHub"
We cannot use CI on the JAX github and thus we will need to move this repo. I will do so later on today -- please shout if there are any issues

[2020-01-24 19:53] pnrobinson commented on #31
This is the problem -- this APPEND changes the shape (it flattens).
About to board

 current_batch, current_labels = self.generate_batch_cbow(sentence, batch_count, skip_window)
            batch = np.append(batch, current_batch)
            labels = np.append(labels, current_labels, axis=0)

[2020-01-25 00:03] justaddcoffee commented on #31
When I run this:
`python runAnalysis.py disease-gene-embeddings -t ppt_train.txt -s 5000 -a cbow -n 3`

I get the following error on [this line](https://github.com/TheJacksonLaboratory/N2V/blob/8c0224dd12e7fc4678be34d4a68e29ad381a07b3/n2v/word2vec.py#L518):

[code]

[2020-01-25 17:58] LucaCappelletti94 commented on #34
Looking forward to integrating the CIs :)

[2020-01-25 17:59] LucaCappelletti94 commented on #32
Generally one should not iteratively expand a NumPy array, as this can be a computational bottleneck. Where is this in the code? There might be a better solution still.

[2020-01-25 18:02] pnrobinson commented on #32
I am working on another implementation that avoids this!

[2020-01-25 18:02] #32 closed

[2020-01-26 00:43] pnrobinson commented on #34
@LucaCappelletti94  done -- we should be able to add the CIs. Let me know when you have time!

[2020-01-26 00:43] #34 closed

[2020-01-26 10:03] LucaCappelletti94 commented on #34
Would 10 AM EST be ok for you? Since I am not in the Monarch organization on GitHub I cannot add the CIs myself, but I could guide you do so via a Skype call.

Otherwise, you could add me to the Monarch GitHub organization and I can add them myself.

[2020-01-26 14:19] pnrobinson commented on #34
10AM is ok -- I will be on skype

[2020-01-26 14:33] pnrobinson opened #39 "[item for sublist in sentences for item in sublist] not working"
flat_list_of_words = [item for sublist in sentences for item in sublist]

this seems to be turning texts into plain letters and unittests are failing

[2020-01-26 14:36] callahantiff commented on #39
I will check it out now. I tested it last week and it seemed OK.

[2020-01-26 14:38] pnrobinson commented on #39
I think the issue is that we are using this
encoder.build_dataset_in_sentences()
which is turning the words into chars
probably we should be using
encoder.build_dataset()
but still tests are not being passed...

[2020-01-26 14:41] callahantiff commented on #39
Sounds good, there are other scripts (e.g. `runAnalysis.py`) that also has bugs i am working on fixing. Caught them when trying to test the code in the PR. Sorry for not approving earlier. I will work on trying to get it all running on my end this morning.

[2020-01-26 14:54] pnrobinson commented on #39
ps, I just merged cbow.

[2020-01-26 15:18] callahantiff commented on #39
Thanks! Found the bug in `text_encoder.py` and fixed it. Should be working now. I am going to go back to checking `RunAnalysis` now. let me know if you have any problems with `text_encoder.py`.

[2020-01-26 15:54] callahantiff commented on #39
All tests on `text_encoder.py` are passing now. I think this can be closed now.

[2020-01-26 16:45] pnrobinson commented on #39
thanks, yes everything is passing & the CI is now running!

[2020-01-26 16:45] #39 closed

[2020-01-26 17:53] pnrobinson opened #42 "TestSkipGramWord2Vec"
This currently does not actually test anything. It is hard to test the actual production of embeddded vectors, but we should move the production of the vectors to a setup method and then test a few things such as the number of walks etc.

[2020-01-26 20:53] callahantiff opened #43 "generate_hn2v_input_file "run pairdc" message"
I'm trying to run the `generate+hn2v_input_file.py` script and trigger the following message:

I know that I need to do something to the downloaded GTEx data file, but what is "pairdc"? From the printed message, I am unclear on how to how to complete the task. If this script is included in the package, I think this message might also be a source of confusion for end users. Perhaps we can add some

[2020-01-26 21:37] pnrobinson commented on #43
I think that we need to remove this script from the repository -- it will go into the evaluation repository instead if at all. We should only have small self-contained tests in the xn2v package. I can remove the file it is is easier.

[2020-01-26 21:56] callahantiff commented on #43
Can we leave it for now?I just wanted to build structures needed to test the scripts in the `xn2v` package. I suppose that I can pull the data files from the `tests/data` repo instead.

I also noticed that the `runW2V.py` file got deleted, but I kept a local version since it's been very useful for debugging.

[2020-01-26 22:04] pnrobinson commented on #43
Let's just leave it. I think the functionality of runW2V.py is now in runAnalysis.py

[2020-01-26 22:04] justaddcoffee commented on #43
Sorry, that was me - it's not gone per se, just moved into `runAnalysis.py` to keep things tidy. You can run `runW2V` by running this command:
`python runAnalysis.py run-w2v-test`

[2020-01-26 22:05] pnrobinson commented on #43
btw Justin -- it looks like click is using the function names for the commands. Is ther some way of providing a short alias name (e.g. w2v instead of run-w2v-test) ?

[2020-01-26 22:10] justaddcoffee commented on #43
Sure, [here's a PR](https://github.com/monarch-initiative/N2V/pull/44) - feel free to change more command/function names

[2020-01-27 02:17] pnrobinson opened #45 "Use keras tokenizer"
Replace the self-made tokenizer.
This will reduce the verbosity of our code.
See example 4 here:
https://www.programcreek.com/python/example/106871/keras.preprocessing.text.Tokenizer

[2020-01-27 04:56] hannahblau opened #46 "Publish embiggen on PyPI"
Luca has plenty of experience with this, but for reference I located some relevant tutorials.

**How to publish on PyPI:**
[How to Publish an Open-Source Python Package to PyPI](https://realpython.com/pypi-publish-python-package/)
very thorough step-by-step guide

[How to write your own Python Package and publish it on PyPi](https://medium.com/@thucnc/how-to-publish-your-own-python-package-to-pypi

[2020-01-27 18:23] pnrobinson opened #49 "remove/move test file"
tests/test_n2v.py

- this file is causing a travis error with the coverage because url.request is not working. The file is testing import functions that we want to move out of this project anyway. I would suggest we move the test elsewhere @vidarmehr

[2020-01-27 18:38] vidarmehr commented on #49
We have this test in IDG2KG repository tests/test_hn2v. Maybe we can still keep that in IDG2KG and remove tests/test_n2v from this repository (N2V).

[2020-01-27 18:51] deepakunni3 commented on #45
@pnrobinson Should I start with this? Or are you working on this as part of https://github.com/monarch-initiative/N2V/pull/47?

[2020-01-27 20:46] pnrobinson commented on #45
@deepakunni3 -- please go ahead with this! I think it is localized to the text_encoder file, so there should be no problem.

[2020-01-27 20:51] deepakunni3 commented on #45
Awesome! I'll get started on it.

[2020-01-27 21:08] callahantiff commented on #45
@deepakunni3 - in case it's helpful, I also found [this](https://keras.io/preprocessing/text/) to be super helpful. Looks like its default output lines up with what we need to.

[2020-01-27 21:20] callahantiff commented on #14
I see that the `NCE` class in `kW2V.py` is based off of [this](https://www.eggie5.com/134-nce-Noise-contrastive-Estimation-Loss#Keras).

This is great, but I'm also wondering if we want to try and actually follow the keras typing more closely? This is motivated by having read the Hands on ML book, maybe a bit too closely :P.

Anywhoo, other thoughts that come to mind for things to think about and

[2020-01-27 21:22] deepakunni3 commented on #45
@callahantiff Thank you for the link. Yes, this is definitely helpful!

[2020-01-27 21:35] callahantiff commented on #14
Useful example of keras implementation of skipgram and cbow [here](https://towardsdatascience.com/understanding-feature-engineering-part-4-deep-learning-methods-for-text-data-96c44370bbfa).

[2020-01-29 01:04] deepakunni3 commented on #45
I have been going through the Keras Preprocessing documentation and I wanted to make a few observations:
- Keras does not handle filtering of stop words. So we have to do it manually (or use nltk)
- Keras does not undo contractions
- In the word dictionary, Keras reserves the 0th index for padding and uses the 1st index for `UNK` token

Now, keeping these limitations in mind I have a PR (https://g

[2020-01-29 02:35] callahantiff commented on #45
I'm also happy to help debug, let me know if I can help!

[2020-01-31 20:45] callahantiff commented on #45
I have been playing around with a python library called [`ktext`](https://github.com/hamelsmu/ktext). it's specifically designed to preprocess text for input into keras/tensorflow and it can be parallelized.

I tested it out with some minor tweaks (mainly for situations where don't want padding) and it seems to run fine and does all of the preprocessing we want plus a lot more (it includes a ton o

[2020-01-31 21:53] callahantiff commented on #14
@pnrobinson - here is the rough outline of what I was thinking for the more general embedding implementation. Looking forward to discussing this afternoon!

<br>

____

**Inspiration:** [Towards Data Science Article](https://towardsdatascience.com/understanding-feature-engineering-part-4-deep-learning-methods-for-text-data-96c44370bbfa)

### General Design
Separate out running the model (i.e. actu

[2020-01-31 22:15] deepakunni3 commented on #45
@callahantiff This is brilliant!
This was the original intent of using Keras Tokenizer - to reduce verbosity. But looks like ktext is a better alternative here.

[2020-02-03 19:59] vidarmehr opened #54 "SkipGram fails on embedding a protein-protein interaction file"
I created a new branch called link_prediction_ppi in which I am testing graph embedding and link prediction on protein-protein interaction graph. In the first step, I just tried to embed the training graph with SkipGram. The algorithm fails, while it successfully run on karate.train graph.
The error is:

  File "/Users/ravanv/PycharmProjects/N2V/runLinkPrediction_ppi.py", line 52, in <module>

[2020-02-03 20:34] callahantiff commented on #54
The error message that you listed does seem to suggest that the problem is that an integer is expected, but it's getting passed a string. Can you try it with the same graph, but first map the string labels to integers?

[2020-02-03 21:03] vidarmehr commented on #54
Thank you, Tiffany. Ok. I will map string labels to integers. But, I thought the type of data does not matter for SkipGram.

[2020-02-03 23:12] callahantiff commented on #54
@vidarmehr - Great question! So, the current version of SkipGram does expect the data to be input as integers.

That said, I think `text_encoder.py()` is currently intended to be used for free-text input, but I don't see why it could not be extended to also handle paths with labels. Perhaps that is something worth talking about further on Thursday during our paired session.

[2020-02-04 17:07] vidarmehr commented on #54
@callahantiff Thank you very much for your explanations, Tiffany! Yes. We should extend SkipGram to encode text data, too.

 I mapped the string data to int. But, now I get another error.

  File "/Users/ravanv/PycharmProjects/N2V/runLinkPrediction_ppi.py", line 54, in <module>
    model.train(display_step=10000)
  File "/Users/ravanv/PycharmProjects/N2V/xn2v/word2vec.py", line 417, in train
    s

[2020-02-04 17:22] callahantiff commented on #54
No problem! Happy to take a look. How big is the data file? Can you upload it to this issue so I can play with it? Can you also include here the lines of code you are running when you get this error?

I have seen this error before, but I want to make sure that I can reproduce it! 😄

[2020-02-04 17:39] vidarmehr commented on #54
@callahantiff Thanks a lot, Tiffany! Please go to the branch "link_prediction_ppi". The code is runLinkPrediction_ppi.py and the file is "pos_train_edges" which has been uploaded.

At this time, I just try to embed the  nodes in "pos_train_edges" file using SkipGram model.

[2020-02-04 18:07] callahantiff commented on #54
@vidarmehr - Perfect, thanks for the details! I will be able to take a close look this evening and will send some updates then.

[2020-02-04 22:02] vidarmehr commented on #54
@callahantiff I solved the issue, Tiffany! Sorry. I had made a mistake in the first parameter of SkipGram. I am going to check in the code and close this issue. Thanks again for your helps.

[2020-02-04 22:26] callahantiff commented on #54
Nice catch @vidarmehr! I'm so glad you got everything working!

[2020-02-05 00:12] pnrobinson commented on #54
PS. let's add some more Q/C code to the constructors. Users should get an error message like" Parameter 1 needs to be apples but you passed oranges" and not a stack trace.
I would recommend we have code like this
[code]

we should do this for all of the parameters!

[2020-02-05 14:46] iimpulse commented on #54
Are these parameters for the CLI? If so please check out https://click.palletsprojects.com/en/7.x/

Click will do this for you. No need to manually write it all.

[2020-02-05 15:31] justaddcoffee commented on #54
Second that, click is pretty handy

[2020-02-05 15:50] vidarmehr commented on #54
I added Q/C code to the constructors to check the first parameter of the SkipGram. Please check the word2vec.py in link_prediction_ppi branch.

[2020-02-05 15:55] vidarmehr commented on #54
Thanks, Mike! The parameters are not for the CLI. At this time, I just followed what Peter suggested.

[2020-02-05 16:05] iimpulse commented on #54
Might be worth linking them up anyways and having defaults. But whatever works!

[2020-02-05 16:18] vidarmehr commented on #54
Ok. Thanks, Mike!

[2020-02-05 22:28] pnrobinson opened #56 "CSFGraph is returning the string representations of nodes but we want ints"
Write a function similar to
[code]

but it should return ints
Call it
[code]

After this is tested it should become the main method and the original method should be get_neighbors_as_string

[2020-02-05 22:33] pnrobinson opened #57 "pickle the state of the CSFGraph following creation of the alias probabilities"
Make code that pickles the current state and also re-imports it. Should be unit tested. This could be a method of the CSFGraph class.

https://www.journaldev.com/15638/python-pickle-example

[2020-02-06 00:26] pnrobinson opened #59 "travis complaining"
test_word2vec.py", line 76,
is causing problems because travis cannot find the input file. I switched the relative to a calculated absolute path but this did not fix the problem. I am unsure what this issue is, does anybody have an idea?
[code]

[2020-02-06 13:22] pnrobinson opened #65 "xn2v_parser"
Remove this class -- it does not make sense to have it here. We still have the code in the original IDG2KG management repository

[2020-02-06 13:52] vidarmehr commented on #56
In the branch "get_neighbors_as_ints_csf_graph", the method neighbors_as_ints(self, source) has been written (in csf_graph.py) and tested in test_csf_graph.

[2020-02-06 16:22] pnrobinson commented on #59
fixed

[2020-02-06 16:22] #59 closed

[2020-02-06 23:30] callahantiff commented on #42
I noticed that only the CBOW implementation is tested in the `test_word2vec.py` file. Should we add a test for the skipgram model to this file?

I also think we might want to extend some of the current tests to include explicit evaluations of functionality of methods. Might be easiest to wait until after refactoring to do this.

[2020-02-06 23:31] pnrobinson commented on #42
I was thinking of having one class for each of the batchers and making a separate test file for each of them. We should figure out what else we want to test within the refactor word2vec class.

[2020-02-07 01:56] callahantiff commented on #14
Future iterations might want to consider replacing current functionality for importing and manipulating data with [`tf.data` API](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/data). Here are some good examples of recent uses:
  - Comparison of [`Numpy` vs. `tf.data` API](https://medium.com/swlh/data-pipeline-using-tensorflow-dataset-api-with-keras-fit-generator-8c7a3e01c4fd)
    - N

[2020-02-07 01:57] callahantiff commented on #14
and saving models: https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/saved_model

[2020-02-12 15:21] vidarmehr opened #69 "AttributeError, link prediction failed on Sumner"
The code ran for 1 day and 3 hours, but failed due to the error:

Traceback (most recent call last):
  File "/projects/robinson-lab/vidar/Node2vec_1/N2V/runLinkPrediction_ppi.py", line 53, in <module>
    model.train(display_step=2)
  File "/projects/robinson-lab/vidar/Node2vec_1/N2V/xn2v/word2vec.py", line 421, in train
    self.run_optimization(batch_x, batch_y)
  File "/projects/robinson-lab/vi

[2020-02-12 19:09] pnrobinson commented on #69
Can you reproduce this error locally with a small example?

[2020-02-12 20:05] vidarmehr commented on #69
I don't get any error message when I run the code on my machine. I tried a small example on sumner and it failed because of the same error. Stackoverflow suggests enabling eager execution mode by writing
tf.enable_eager_execution()
after import statements. I am working on it right now.

[2020-02-12 20:12] vidarmehr commented on #69
tf.enable_eager_execution() solved the issue on Sumner.

[2020-02-12 20:19] vidarmehr commented on #69
Enabling eager_exection() works on Sumner, but it does not work on my machine. I get the error:
"AttributeError: module 'tensorflow' has no attribute 'enable_eager_execution'"

[2020-02-12 20:20] pnrobinson commented on #69
AFAIK eager execution is the default with tensor flow2.
Therefore, can we check what tensofrflow version was used?
We should probably have statements such as
[code]
We want to make sure we are always using tensorflow 2 for consistency

[2020-02-12 20:25] vidarmehr commented on #69
Yes, Peter! eager execution is the default with tensorflow 2.

[2020-02-12 21:01] vidarmehr commented on #69
I installed tensorflow 2 on Sumner and now the code was successfully completed without error or using tf.enable_eager_execution().

[2020-02-12 21:22] #69 closed

[2020-02-12 21:53] justaddcoffee commented on #14
Here's a project for this Keras refactor, per discussion with Tiffany/Peter:
https://github.com/monarch-initiative/N2V/projects/1

[2020-02-12 23:13] vidarmehr opened #73 "Codacy issue on assert tf.__version__ >= "2.0""
I created a branch called "check_tensorflow_version". I have added
`assert tf.__version__ >= "2.0"` to word2vec.py to check the version of tensorflow. When I create a pull request, codacy gives an issue:

Does anyone know what the correct way of checking the version of tensorflow is? Can we just write 'tensorflow>=2.0' in setup.py in install_requires?
Thank you.

[2020-02-12 23:16] vidarmehr commented on #54
@pnrobinson Could you please let me know if we can close this issue? Thank you.

[2020-02-13 01:58] pnrobinson commented on #54
I think we can close. We will need click etc primarily for the driver scripts but not for the library itself.

[2020-02-13 01:58] #54 closed

[2020-02-13 02:00] pnrobinson commented on #73
@vidarmehr  I think we can ignore this particular warning for now. The installation script should actually be checking for the tensor flow version and should fail unless tensorflow2 is installed. I am surprised that things worked on sumner with tensor flow 1. So I think we need to correct the installation script (setup.py). Maybe @deepakunni3 or @LucaCappelletti94  can comment here?

[2020-02-13 02:06] justaddcoffee commented on #73
Could you just do something like this instead?

[code]

[2020-02-13 07:16] LucaCappelletti94 commented on #73
I believe the best approach would be by specifying the version within the setup.py.

[2020-02-13 17:41] deepakunni3 commented on #73
Yes, I would recommend just making sure that the proper version is specified in setup.py
Having version checks in different scripts might be tedious in the long run.

[2020-02-13 17:44] deepakunni3 commented on #73
Also, the reason codacy is throwing a warning about `assert` is because `assert` shouldn't be used in actual code. Its more for debugging and primarily used in testing.

[2020-02-13 19:38] justaddcoffee commented on #14
Tiffany's suggestion: 3 steps for refactor
 1) data preprocessing  using tensor flow/keras framework
2) batching  using tf/keras framework
3) subclass existing classes to add new things

[2020-02-13 19:38] justaddcoffee commented on #14
@pnrobinson @vidarmehr Deepak I think is going to make a gitter channel specifically for this refactor - I think he'll add you both to this channel

[2020-02-13 19:49] callahantiff commented on #14
Thanks for adding this @justaddcoffee, we could consider adding these steps too:

4) fit/training embedding models
5) do stuff with embedding model output (i.e. link prediction, classification, etc)

I'm happy to focus on tf.kerasizing the preprocessing stuff, do you want me to create a new card in the project board for this or would you rather I create a separate issue for that task and include i

[2020-02-13 20:57] justaddcoffee commented on #14
I think add a card for this ( 1) data preprocessing  using tensor flow/keras framework) in the project board

[2020-02-13 20:57] justaddcoffee commented on #14
I'll add my bit to the project board too (e2e test that encapsulates Vida/Peter's python notebooks)

[2020-02-13 21:03] justaddcoffee commented on #14
@callahantiff actually just added this card for you (and one for me too)

[2020-02-14 15:29] vidarmehr commented on #73
Thank you very much everyone!
@pnrobinson So, I think the best approach is to specify the version of tensorflow in the setup.py.

[2020-02-14 15:31] LucaCappelletti94 commented on #73
I have already applied the change in a pull request

[2020-02-14 15:33] vidarmehr commented on #73
Oh, Ok!  Thank you Luca!

[2020-02-14 15:33] #73 closed

[2020-02-14 15:34] vidarmehr commented on #57
I will work on it over the weekend.

[2020-02-14 20:30] pnrobinson opened #78 "test_raw_probs"
CHeck this unit test -- we commented it out.,

[2020-02-16 03:20] callahantiff commented on #14
Happy Saturday!

Having had some more time to read `tf` documentation as well as having had the time to go through the `csf_graph.py` script, I think there is a decision to be made about when in the current workflow we want to convert our data to a `tf.Dataset` object. From my reading/Googling, I think we have two options (with a bit more information provided for Option 2):

**OPTION 1:** we pursu

[2020-02-16 05:59] deepakunni3 commented on #14
@callahantiff If I understand the options correctly, Option 1 would require a bit of rewrite on how we currently parse the input data. But this approach seems more efficient since we are avoiding the need to create intermediate data objects.
Are the intermediates being used downstream? If not, then perhaps it would make sense to go with option 1.

[2020-02-17 04:56] callahantiff commented on #14
Thanks for the feedback @deepakunni3! I agree with your points about avoiding creating extra intermediate data objects. Currently, there are several preprocessing steps performed to create these objects, prior to when they are eventually used for batching/training. The sentences/walks objects are used downstream when training a cbow and/or skipgram model.

I also just came across [this](https://me

[2020-02-17 15:59] justaddcoffee commented on #14
I think either option 1 or 2 seems reasonable, and also I think you (Tiffany) are possibly in a good position to make this call.

For my $0.02, it seems like option 2 would both be easier to implement, and also would give us more flexibility when implementing new algorithms, since they wouldn't be as tightly coupled to Tf. I think either is reasonable though...

[2020-02-18 06:12] callahantiff commented on #14
@justaddcoffee - Great points as well. OK, I think I will take a fresh look Wednesday morning and then just make a decision. I'll update here afterwards.

Thanks so much to you @deepakunni3 for the feedback, I appreciate it very much!

[2020-02-18 06:28] deepakunni3 commented on #14
@justaddcoffee Yes, thats a good point regarding coupling with TensorFlow.
I would be curious what the consensus is on using TensorFlow for parsing input data, and
batch using iterators, etc; even for algorithms that are newly implemented.  @pnrobinson @vidarmehr
If there is a unified framework for building out these datasets, it would be easier to handle and debug since all algorithms will be rel

[2020-02-18 12:57] pnrobinson commented on #14
I would suggest that probably there are good Option 1-options in TF for pure text processing that we should use. For the random walk, Option-2 is probably the only realistic option, and it is unclear that changing the random walk code to use tensors would buy us any additional performance anyway!

[2020-02-19 05:04] vidarmehr commented on #56
We have implemented this. Now, CFS returns indices of nodes. So, I close this issue.

[2020-02-19 05:04] #56 closed

[2020-02-19 05:16] vidarmehr commented on #65
xn2v_parser has been removed.

[2020-02-19 05:16] #65 closed

[2020-02-19 05:23] callahantiff commented on #56
I also update the tests to reflect this change 😄

[2020-02-19 05:23] vidarmehr commented on #49
test/test_n2v.py and tests/n2vParser.py were removed.

[2020-02-19 05:23] #49 closed

[2020-02-19 05:24] callahantiff commented on #65
@justaddcoffee and I updated the tests to reflect this change too 😄

[2020-02-19 05:44] vidarmehr commented on #26
@pnrobinson I think we can close this issue. CSFGraph class does not depend on the first character of the name.

[2020-02-19 05:46] vidarmehr commented on #56
@callahantiff Thank you very much, Tiffany!

[2020-02-19 21:33] justaddcoffee opened #83 "key error when running runLinkPrediction_ppi.py"
running `runLinkPrediction_ppi.py` on edges generated from the first 10k lines of the String DB, I'm getting a key error here:

https://github.com/monarch-initiative/N2V/blob/e159e15bedc89dacc5e8e30a2e53f8bfc8586daf/xn2v/hetnode2vec.py#L62

[code]

Seems like a bug - `cur` is an integer, but `alias_nodes` is a `dict` with gene IDs as keys, so I don't understand how `alias_nodes[cur]` on line 63 wi

[2020-02-19 21:52] justaddcoffee commented on #83
I think line 63 should possibly be using `g.index_to_node_map` to look up items in `alias_nodes`, i.e. something like:

`walk.append(cur_nbrs[self.alias_draw(alias_nodes[g.index_to_node_map[cur]][0], alias_nodes[g.index_to_node_map[cur]][1])])
`

[2020-02-19 22:23] vidarmehr commented on #83
Hi Justin,
Which branch are your using to run simulations?

[2020-02-20 00:18] justaddcoffee commented on #83
Hi @vidarmehr - good point

Originally I was on `creating_keras_develop_branch`, but seems to happen on `develop` (commit feba457bf9858968ec19f13171ac7973cdab5812) too

[2020-02-20 00:22] justaddcoffee commented on #83
oh, sorry, you mean which branch am I using to make the edges? `creating_keras_develop_branch`

Maybe that's the problem

[2020-02-20 00:31] justaddcoffee commented on #11
I think we can close this issue?

[2020-02-20 00:41] callahantiff commented on #83
If it's any help, I noticed that there were changes made on `develop` last week to output node identifiers as integers. As a result, I updated one of the test files on the `creating_keras_develop_branch` branch to reflect this change. I have not yet made any changes to the file mentioned in your error on this branch, so I am guessing like the test file it will also need an update.  If that is the

[2020-02-20 00:48] vidarmehr commented on #83
Justin, could you please use the branch "link_prediction_with_CBOW_skipgram_and_3_classifiers"?
The input files are in tests/data/ppismall.
If your input files are in the format of the files in tests/data/ppismall, then you should be fine. Please let me know if you still have any issues.

I made a pull request from the branch that I mentioned above to develop last night and asked Peter to review t

[2020-02-20 01:09] callahantiff commented on #83
I found what's causing the error on the `creating_keras_develop_branch`. If it's helpful, I can commit the changes so that you can test on this branch until Peter approves Vida's changes? Otherwise, ignore me 😄

[2020-02-20 07:45] #11 closed

[2020-02-20 11:58] pnrobinson commented on #83
I have been a bit sick recently, but if there are no controversies, just go ahead and merge!

[2020-02-20 16:37] justaddcoffee commented on #83
thanks @vidarmehr (and @callahantiff!)  - `runLinkPrediction_ppi.py` works on `link_prediction_with_CBOW_skipgram_and_3_classifiers` branch, thanks!

Just trying to walk through all the code and make sure I understand, this helps a lot! Talk to you guys at 11

[2020-02-20 16:47] #83 closed

[2020-02-20 16:58] callahantiff opened #84 "click vs. argparse?"
@vidarmehr and @pnrobinson - Just wanted to check-in and see if there was decision made about using `argparse` or `click`?

Happy to help make the conversion once a decision is made.

[2020-02-20 17:00] justaddcoffee commented on #84
This possibly is my fault - I introduced the `click` dependency, but I think `argparse` is fine too. @vidarmehr which do you prefer?

[2020-02-20 17:09] callahantiff opened #85 "Logging"
More housekeeping 😄

@justaddcoffee - do you know if there is a consensus about how to handle within file logging? I have noticed that some files have it, some don't, and others have it, but it's current commented out.

How would you like me to proceed going forward?

[2020-02-20 18:00] callahantiff opened #86 "Adding type checking to tests"
Wanted to get your thoughts on using [`Mypy`](http://mypy-lang.org/) or [`pytyp`](https://github.com/google/pytype/blob/master/docs/user_guide.md) ? `pytyp` is from Google and while mentioned in the [Style Guide](http://google.github.io/styleguide/pyguide.html), is not explicitly stated as the only type checker that can eb used.

**mypy:** Once we have added type hints to all scripts, we could ext

[2020-02-20 18:34] justaddcoffee commented on #86
@callahantiff either is fine with me - possibly `pytyp` might be better if we are going on in with the Google styleguide

[2020-02-20 18:35] deepakunni3 commented on #86
@callahantiff I used mypy before, but switched to the default [typing](https://docs.python.org/3/library/typing.html) module in Python 3.5+

If enforcing typing at run time is critical then pytyp seems to do a better job and it does build off of Typing module.

[2020-02-20 18:36] justaddcoffee opened #87 "Adding pylint to travis"
Probably could/should add pylint to our travis CI (unless there are any objections)

[2020-02-20 18:40] deepakunni3 commented on #87
Yes, definitely.

Also, please make the strictness of linting configurable such that we can have an ENV variable in TravisCI that determines to what level we want to enforce for certain coding styles.

[2020-02-20 18:45] deepakunni3 commented on #85
It would be great if all the print statements are moved to logging and at different levels (INFO, DEBUG, ERROR).

Also, another thing I would recommend is the formatting of logging. For example take a look here:

https://github.com/NCATS-Tangerine/kgx/blob/master/kgx/__init__.py#L50-L56

It tries to get the logging messages to be as descriptive, including where the logging is coming from.

[2020-02-20 18:53] deepakunni3 commented on #84
Click allows for a command line entrypoint into your code. This allows for easy tagging of methods that are to be exposed via command line and a set of arguments to go with it.

I was under the impression that argparse was only for defining arguments to single python script where the execution is usually via `__main__`.

[2020-02-20 18:53] justaddcoffee commented on #85
Deepak's thoughts above seem very sensible: +1 for logging, -1 for print statements

Could just crib that `__init__.py`, or least the logging bit

[2020-02-20 19:05] callahantiff commented on #86
Perfect. The `typing` module seems best. If some reason we want to use `mytyp` or `ptyp` the scripts would not need editing.

I am going to update the scripts I have been editing them to better leverage the `typing` module. Should be a quick fix.

[2020-02-20 20:30] callahantiff commented on #14
@pnrobinson - Wanted to send you a quick update after the call today.

During the meeting we tentatively decided that we would move forward with [option 2](https://github.com/monarch-initiative/N2V/issues/14#issuecomment-586664264) because we think that this will make it easier to add or extend different graph (and text-based) structures and/or preprocessing functions in the future.

**Plan going

[2020-02-20 20:48] pnrobinson commented on #84
Please note that for the final library we will probably remove the command line scripts and we might not want to add click annotations to the other classes?

[2020-02-21 16:52] justaddcoffee commented on #87
#88

[2020-02-24 20:28] vidarmehr opened #89 "error in test_version.py"
Does anyone  know what tests/test_version.py tests? Do we need it? I get an error when I run it.

Thank you.

[2020-02-24 20:51] justaddcoffee commented on #89
Hi @vidarmehr - I can't reproduce this - how are you running the test?

[2020-02-24 21:04] vidarmehr commented on #89
@justaddcoffee  Hi Justin, Thank you for your quick reply.
Apparently, there is an error (the unresolved reference) in: `from validate_version_code import validate_version_code`.  But, I don't know how solve it.
I am using pycharm and to run the test, I just simply click on "run" (small green triangle) next to def test_version(self).

[2020-02-24 21:09] pnrobinson commented on #89
Were you able to install the package?

[2020-02-24 21:17] justaddcoffee commented on #89
@vidarmehr when I run this in the same way, I see this output - possibly could compare this with how Pycharm is running the test on your end:

[code]

[2020-02-24 21:34] vidarmehr commented on #89
Oh, sorry. I solved the issue. Thank you @justaddcoffee and @pnrobinson.
I was not able to install the package with pycharm. But, I pip install validate_version_code and it worked. So ,I close the issue.

[2020-02-24 21:35] #89 closed

[2020-02-24 21:41] vidarmehr commented on #84
I would prefer argparse. But, I am fine with changing it to click. However,  I think at this time we can keep argparse and for the final version we decide which one to use.

[2020-02-27 20:47] realmarcin opened #90 "trying a more fair training/testing split like 80/20"
@vidarmehr would it be possible for you to try a 80/20 training/testing split for your link prediction runs? This will help avoid overfitting and please reviewers, and help us compare to the BioNEV paper.

We missed you on the call today -- some of the discussion is pasted in gitter so you can take a look.

[2020-02-27 21:03] realmarcin opened #91 "rationale for the max connected component and effects on embedding and prediction tasks"
@pnrobinson @vidarmehr we are curious about the rationale for selecting the max component of the graph as input for the random walk. The bioNEV paper does not seem to do that. I believe that picking the max component dropped about 5k genes, so a bit. Presumably this will be dropping the less connected portions of the graph, but those are also harder for link prediction because more sparse. They ma

[2020-02-27 21:32] vidarmehr commented on #90
@realmarcin Hi Marcin,
Sure. I was going to run new simulations. So, I will chose 80/20 training/testing split this time.
By the way, which BioNEV paper are you referring to?

Sorry about that. I had a medial appointment. Thank you for update. I will follow the discussion on gitter.

[2020-02-27 21:44] vidarmehr commented on #91
@realmarcin
Hi Marcin,
Here is a paragraph from node2vec paper:

edges. We generate the labeled dataset of edges as follows: To obtain positive examples, we remove 50% of edges chosen randomly
from the network while ensuring that the residual network obtained
after the edge removals is connected, and to generate negative examples, we randomly sample an equal number of node pairs from
the network w

[2020-02-27 21:45] justaddcoffee commented on #90
Marcin is referring to this paper:

[Graph Embedding on Biomedical Networks: Methods, Applications, and Evaluations.
Yue et al, Bioinformatics 2019.](https://www.ncbi.nlm.nih.gov/pubmed/31584634)

They have a gitrepo for this paper [here](https://github.com/xiangyue9607/BioNEV)

We reviewed this paper in a journal club yesterday, and a lot of possibly useful suggestions came out of this.

Two othe

[2020-02-27 21:50] vidarmehr commented on #90
@justaddcoffee Thank you very much, Justin! I will read the paper and rerun link prediction with their suggested parameters.

[2020-02-28 07:35] pnrobinson commented on #91
It would be interesting to see exerimentallt if we can do link prediction on the entire graph and then rank the predictions according whether they are from the larger or smaller components of the graph. I would say we should try both !

Peter Robinson
Professor and Donald A. Roux Chair, Genomics and Computational Biology
The Jackson Laboratory for Genomic Medicine
860.837.2095 t | peter.robinson@j

[2020-02-28 14:48] vidarmehr commented on #91
@pnrobinson Yes. I agree, Peter! I will run link prediction on the entire graph, too.

[2020-02-29 21:59] callahantiff commented on #86
Quick update -- I am working on adding in typing as I work on the refactor. I looked into `mypy` a bit more and think that it might be the better option. It was created by Guido Van Rossum and has WAY better documentation than `pytyp`. I'm happy to switch if there are strong arguments against this, but for now I am moving forward with it.

**Helpful Documentation:** [cheat sheet](https://mypy.read

[2020-02-29 22:40] callahantiff commented on #14
Quick Update from this week's call:

I have added a new argument to `word2vec.py` which enables the user to specify whether or not to run computations over GPUs or CPUs called `device_type`, which takes values "cpu" or "gpu" (i.e. `self.device_type = '/CPU:0' if 'cpu' in device_type.lower() else '/GPU:0'`). The default is CPU. We can adjust this further in the future, but currently the algorithm w

[2020-03-05 15:07] vidarmehr opened #92 "Error in running link prediction on entire graph"
An error happened when I ran link prediction on entire graph. The entire graph has almost 200 components. I am working on this issue now.

[2020-03-05 15:10] vidarmehr commented on #90
I have used 80/20 training/testing split for the link prediction and running simulations on both the entire graph and max. connected component.

[2020-03-05 18:13] #87 closed

[2020-03-06 16:31] vidarmehr commented on #90
@pnrobinson
Hi everyone,
Thank you all @callahantiff @LucaCappelletti94 @justaddcoffee @realmarcin for your helpful suggestions and discussions yesterday at our zoom meeting.  Regarding implementing cross validation on graphs, I have two problems to implement it:
1. How to use sklearn cross validation methods so that the training set consists of all nodes of the graph? Remember that we need all no

[2020-03-06 16:59] callahantiff commented on #90
Hi Vida! I see now why you can't do CFV. Is there anyway that you can first embed the whole graph and then perform CFV on on the embedded nodes? If not, I think training/validation/test edges (70%,20%,10%), assuming you run several iterations where you are drawing a new random training set (not touching the validation set once it has initially been drawn) is reasonable.

I'll keep looking through

[2020-03-06 17:13] pnrobinson commented on #90
I think we had a function that removes a certain number of edges from a connected component (CC) and then checks that the CC was not disconnected. We should probably add the check that the number of nodes is not changed. We used networks for this.
We could do this separately for each of the CC in the graph (but we might want to remove CCs with less than a threshold number of nodes?).
Probably it i

[2020-03-06 17:14] vidarmehr commented on #90
Thank you, Tiffany!
 No! The entire graph cannot be embedded first, because if the entire graph is embedded first before removing edges, we are including information about the test set in the embedding of the graph (data leakage), while we would like to predict test edges using training edges and embedding of training sets only.

[2020-03-06 17:25] LucaCappelletti94 commented on #90
So the selection of edges was not truly random but limited to the edges of nodes that have at least another edge, right?

[2020-03-06 17:35] vidarmehr commented on #90
When I considered just the largest component of the graph and performed edge removal on this subgraph, every time that I removed an edge, I made sure that the graph is still connected.

I am currently working on creating training/test sets from the entire graph. I first removed edges randomly, but I got an error when I performed link prediction, which I assume the error is related to existing some

[2020-03-06 17:37] LucaCappelletti94 commented on #90
How big is the graph? Just to understand how costly is to run the check.

[2020-03-06 18:26] vidarmehr commented on #90
Thank you, Peter. Yes! We checked if removing an edge from the largest connected component, does not make the graph disconnected. So, I think we should do it for every connected component of the graph, when we work with the entire graph.

[2020-03-06 18:40] pnrobinson commented on #90
We could probably be more efficient at edge removal by just checking that the affected nodes have a degree of at least 2 before removing an edge?

[2020-03-06 18:53] vidarmehr commented on #90
The entire graph has almost 10,000 nodes and almost 290,000 edge.

[2020-03-06 18:54] vidarmehr commented on #90
Yes. I think it is more efficient to check the degree of nodes before edge removal.

[2020-03-06 19:13] LucaCappelletti94 commented on #90
I will ask to a professor of mine that handles truly big graphs, maybe he has faced this issue before.

[2020-03-08 17:01] LucaCappelletti94 commented on #90
Paolo Boldi, the professor I mentioned in the previous message, suggested we could use [EvalINE](https://arxiv.org/abs/1901.09691). What do you think?

[2020-03-08 17:48] pnrobinson commented on #90
This looks quite useful!

[2020-03-08 19:01] vidarmehr commented on #90
I will try EvallNE. Currently, I am rerunning simulations for train/test (80/20) and also train/validation/test (70/15/15).

[2020-03-08 19:02] vidarmehr commented on #92
I think I know the issue. I am going to rerun the simulations.

[2020-03-08 19:02] #92 closed

[2020-03-08 19:07] vidarmehr commented on #91
I have created training and test files for the entire graph, too. So, I close this issue.

[2020-03-08 19:07] #91 closed

[2020-03-09 19:44] vidarmehr commented on #78
original_probs returns negative values. Working on this issue.

[2020-03-09 20:29] justaddcoffee opened #95 "Use requirement.txt"
Per documentation [here](https://pip.pypa.io/en/stable/user_guide/#requirements-files)

Although possibly there is a reason we aren't using `requirements.txt`

[2020-03-09 20:30] justaddcoffee commented on #95
PR [here](#94)

[2020-03-09 20:40] #95 closed

[2020-03-17 17:24] justaddcoffee commented on #26
Could we revisit this at some point, maybe on the next Thursday meeting? I think I'm close to getting the heterogeneous graph fxn working, but we maybe could improve how the code deals with node types.

One possibility would be to make a node class, and capture node type as an attribute of this class

[2020-03-18 21:34] justaddcoffee opened #101 "add support in CsfGraph for instatiating using a networkx graph"
Per convo with @deepakunni3 and @realmarcin, it'd be nice if we could instantiate a `CsfGraph` by handing it a networkx graph, so we could then leverage KGX to easily import graphs in any format KGX supports (currently includes rdf, owl, pandas, json, tsv, csv, networkx, neo4j)

Glad to do this if it sounds reasonable

[2020-03-18 21:37] callahantiff commented on #101
@justaddcoffee - sounds like an awesome idea!

[2020-03-27 04:02] justaddcoffee commented on #90
I think we can close this ticket @realmarcin?

[2020-03-27 18:03] justaddcoffee opened #104 "Add better support for node types"
@pnrobinson I think we're near the point where we can tests some KGs emitted by kg_covid_19.

These obviously will be heterogeneous graphs though, so we probably should make a decision about node types - i.e. how to refactor nodes types to not rely on the first character of the node name (`node[0]`). (See also #26)

A proposal:
- make a `node` class with an `attr` called `node_type`.
- change `Csf

[2020-03-27 18:10] pnrobinson commented on #104
What about the case where we have different edge types though?
Somehow it feels less error prone to have everything in one input file.
What about

node1name[,node1type]  node2name[,node2type] edge1name[,edge1type]

where [ ] means optional

Possibly we could make the user pass a flag such as --typed_graph to use a different constructor for this.

No strong feelings about this, just putting this up

[2020-03-27 18:20] justaddcoffee commented on #104
Yes, let's discuss!

This would work too, but a few drawbacks:
- node types have to be repeated for each edge in which a node appears
- node type for a given node will conflict if the node type isn't exactly the same every time it appears in the edge file - which do you pick?
To mean it feels more error prone than if the node type is listed once in a separate file - my $0.02

[2020-03-27 18:23] pnrobinson commented on #104
sufficiently equitable...
Maybe having a separate file of types that could specify both node and edge types?

[2020-03-27 19:14] justaddcoffee commented on #104
Is a separate edge type file necessary? It seems like this info belongs in the current `.edges` file.

I was thinking we could align with and crib @deepakunni3 's `KGX` tsv formats (see `nodes.tsv` and `edges.tsv` [here](https://github.com/NCATS-Tangerine/kgx/blob/master/data-preparation.md), since he's already thought this through, and we're also going to consume graphs from KGX soon.

The existi

[2020-03-27 19:17] pnrobinson commented on #104
didnt realize all of this existed. Why not just adopt the KGX formats?

[2020-03-27 20:00] justaddcoffee commented on #104
Sure, let's do that!

Some more considerations:
- We need to I guess invent an edge label for negative edges - these don't exist in Deepak's KGX realm

- This new format will require Vida and others who are using N2V now to do a tiny bit of data wrangling (basically just add an edge label in the second column of the `.edges` file, and optionally produce a `nodes.tsv` file)

[2020-03-27 22:24] deepakunni3 commented on #104
@justaddcoffee What do you mean by edge label for negative edges? Could you provide an example?

[2020-03-27 23:11] justaddcoffee commented on #104
@deepakunni3 well, N2V doesn't have any edge labels for negative edges. I just mean that if we switch to KGX .tsv format, and we also ingest negative edges (like [this](https://github.com/monarch-initiative/N2V/blob/master/neg_test_edges) and [this](https://github.com/monarch-initiative/N2V/blob/master/neg_train_edges)), then the format requires us to make up an edge label for negative edges.

An

[2020-03-27 23:19] deepakunni3 commented on #104
So you just need to differentiate between normal edges and negative edges?

Perhaps something like this:
[code]

You can look for `negative_edge` property on the edge and treat these edges as such when parsing from networkx graph to CsfGraph?

Would that help?

[2020-03-27 23:22] justaddcoffee commented on #104
Sure, that would work and seems sensible

[2020-03-29 12:57] pnrobinson opened #105 "Utility functions?"
Should we add a file with various utility functions for working with the embeddings?
For instance, something like this to get the most similar words?
[code]

[2020-03-29 14:52] callahantiff commented on #105
@pnrobinson - great idea! I'm happy to work on this. I know there are some embedding loading and writing functions in the scripts we could also pull out and add to a utility embedding script.

Will add a new branch for this off of `develop`.

[2020-03-29 15:47] justaddcoffee commented on #105
+1 @callahantiff !

[2020-03-29 15:48] vidarmehr commented on #105
@pnrobinson @callahantiff I think we may need adding Common Neighbors, Jaccard’s Coefficient, Adamic-Adar Score, Preferential Attachment scores, too. We don't need embedding to calculate these scores. But, I think we eventually need to calculate these scores.

[2020-03-29 15:50] callahantiff commented on #105
@vidarmehr, great point! Maybe we create a utility function for link prediction methods as well then?

[2020-03-29 15:54] vidarmehr commented on #105
Yes. I think that is a good idea to have a separate utility function for link prediction methods.

[2020-03-29 16:47] vidarmehr commented on #90
@justaddcoffee  I think we can close this ticket. train/test (80/20) and also train/validation/test (70/15/15) have been implemented in node2vec-eval (https://github.com/monarch-initiative/node2vec-eval)

[2020-03-29 16:50] justaddcoffee commented on #90
+1 @vidarmehr

[2020-03-29 16:50] #90 closed

[2020-03-29 17:02] pnrobinson commented on #105
Awesome! We should make these functions so that they are easily testable!

[2020-03-29 17:12] callahantiff commented on #105
Absolutely! I will also open a second ticket for link prediction function metric utils.

[2020-03-29 18:17] callahantiff opened #106 "Create link prediction scoring funcs utility file"
Creating this issue as part of the conversation in #105.

**TODO - Add Link Prediction Scoring functions to Utility Script**
- [x] Common Neighbors
- [x] Jaccard’s Coefficient
- [x] Adamic-Adar
- [x] Preferential Attachment
- [ ] See [here](https://github.com/callahantiff/owl-nets/blob/master/LinkPrediction.py) for additional scoring functions worth considering, including:
  - Degree Product
  - S

[2020-03-29 18:42] vidarmehr commented on #106
@callahantiff Yes. Thank you, Tiffany!

[2020-03-29 23:17] pnrobinson opened #107 "How to format input data for GloVe"
Hi everybody,
I am adapting a keras version of GloVe to use the tf keras (only small changes needed).
I am wondering if we want to have a standard way of passing the data to the models, and if we
are planning on changing anything in the present constructors for word2vec.
This is an excerpt of what the function looks like

[code]

I am a little worried this might not be efficient enough for the dat

[2020-03-29 23:38] deepakunni3 commented on #107
@callahantiff and I have been exploring ways to standardize on how data is passed to models, the data structure used, configuration of parameters, and more. This goes back to the use of TensorFlow and its API for achieving improvements to the N2V codebase.

Perhaps we can talk more on this sometime this week?

[2020-03-30 00:12] callahantiff commented on #105
@pnrobinson - perhaps we just want to use the tf built in cosine similarity function?

https://www.tensorflow.org/api_docs/python/tf/keras/metrics/CosineSimilarity

[2020-03-30 00:30] callahantiff commented on #107
@deepakunni3 - Happy to do that. Want to set something up over email?

[2020-04-12 13:54] pnrobinson opened #109 "model_to_dot"
We should explore the model_to_dot facilities of keras for generating decent-looking graphics for publication, e.g.,
[code]

[2020-04-12 23:03] pnrobinson opened #110 "Predicting synthetic lethal interactions using heterogeneous data sources"
https://www.ncbi.nlm.nih.gov/pubmed/31782759

Interesting article.

[2020-04-13 04:53] vidarmehr commented on #78
@pnrobinson I am working on this issue in branch update_hetrogenous_graph_code. I know what caused the error. I made some changes, but the hetnode2vec.py still needs some modficiations. Working on the tests to make sure all tests pass.

[2020-04-13 17:02] pnrobinson opened #111 "Number of negative examples and pace of learning"
As a preparation to implementing GloVe, I am trying to understand this:
https://papers.nips.cc/paper/5477-neural-word-embedding-as-implicit-matrix-factorization.pdf

Essentially, it says that the skip gram algorithm is equivalent to a matrix factorization algorithm (which is what GloVe is).

This is a really nice blog entry about this topic:

https://medium.com/radix-ai-blog/unifying-word-embeddin

[2020-04-13 18:25] justaddcoffee commented on #111
Interesting, thanks Peter for the digging!

Related - it'll be awesome if/when we can use @LucaCappelletti94 's code to automagically tune our hyperparameters

[2020-04-15 15:52] justaddcoffee commented on #109
Thanks @pnrobinson, I didn't know this existed in keras - should come in handy when we start writing this up to publish

[2020-04-16 03:08] vidarmehr commented on #78
I have modified _preprocess_transition_probs_xn2v and  get_alias_edge_xn2v. I have added some more tests. Now, all tests are passed.
Justin had modified the code so that node indices were used. However, I had changed it to the old format. I need to change it back to what Justin had implemented.

[2020-04-16 21:08] vidarmehr commented on #78
Tests are passed. I think we can close this issue.

[2020-04-16 21:09] #78 closed

[2020-04-16 21:09] vidarmehr commented on #106
@vidarmehr I will work on this over the weekend.

[2020-04-17 00:50] vidarmehr opened #112 "Link prediction fails"
We merged some branches to develop and now, I get an error when i run link prediction. I work on this issue.

[2020-04-17 01:08] callahantiff commented on #112
Do you need some help? What script are you running and what’s the error?

[2020-04-17 01:14] vidarmehr commented on #112
Thanks a lot, Tiffany! That would be great if you can help me. If you run runLinkPrediction_ppi.py or runLinkPrediction_with_validation_ppi.py, you get an error like this:

[2020-04-17 01:15] vidarmehr commented on #112
set num_steps to 100 that it converges fast:
--num_step 100

[2020-04-17 01:42] callahantiff commented on #112
Ok, I will take a look now.

[2020-04-17 03:16] callahantiff commented on #112
@vidarmehr - OK, got it working!

You should now see the loss print every 10 steps when calling `model.train()`.

If you prefer something else, we can easily change this to different interval, too.

[2020-04-17 03:23] vidarmehr commented on #112
Thank you, Tiffany! But, I still get the error message. That is weird!

[2020-04-17 03:25] callahantiff commented on #112
The `KeyError: 'ENSP00000216797' error, right? I am also looking at this now. I was fixing a separate issue with the cbow training before. Sorry, I should have been more specific.

[2020-04-17 03:27] vidarmehr commented on #112
@callahantiff Yes. No worries. Do not worry about it. It is probably too late to work on this issue now. We can work on that tomorrow.

[2020-04-17 03:30] callahantiff commented on #112
Sounds good!

[2020-04-17 14:56] vidarmehr commented on #112
@callahantiff Hi Tiffany, I found that read_embeddings() was missing from link_prediction_ppi and link_prediction_with_validation_ppi.  I assume that you had removed read_embedding() because you wanted to use the methods in utils/embedding_utils()?
I put read_embeddings() back to the link_prediction, but still get the error message. We have a group meeting now, but I will continue working on this

[2020-04-17 14:57] callahantiff commented on #112
Huh, I would have sworn that I had updated that. I'll take a look during your meeting too and see if I can help.

[2020-04-17 15:04] callahantiff commented on #112
Actually, I just look back through develop, and it looks like that function was never in those scripts, rather it was in the `link_prediction.py` script. But, I did totally delete it from there (D'oh!). I am fixing it now. Sorry!! :D

[2020-04-17 15:27] callahantiff commented on #112
I updated both scripts to utilize the method, now called `load_embeddings()` from the embedding utils script, replacing the original `read_embeddings()` method. I tested both `link_prediction.py` and `link_prediction_with_validation.py` with this update and they both run fine now. Let me know if you have any trouble.

Sorry I missed that in my PR. I'll be sure to double-check things better moving

[2020-04-17 17:50] vidarmehr commented on #112
@callahantiff Thank you very much! The link prediction codes run successfully.

[2020-04-17 17:50] vidarmehr commented on #112
I close this issue.

[2020-04-17 17:51] #112 closed

[2020-04-19 17:30] vidarmehr commented on #25
CBOW has been implemented. So, I close this issue.

[2020-04-19 17:30] #25 closed

[2020-04-19 17:38] vidarmehr commented on #84
@pnrobinson  I have used argparse to run link predictions. Can we close this issue?

[2020-04-19 17:39] vidarmehr commented on #85
@callahantiff Shall we close this issue?

[2020-04-19 17:54] callahantiff commented on #85
@vidarmehr - I think it might be worth bringing this up in the Thursday meeting. If everyone agrees on a plan (the suggestion made by @deepakunni3 sounds perfect), then we can make a plan on how to update the repo.

I will make a note in the N2V meeting agenda as a reminder to discuss this as I won't be at the meeting this week. Can you update me here after the meeting on what the group decided? H

[2020-04-19 17:56] vidarmehr commented on #85
@callahantiff Sure. Thanks.

[2020-04-20 11:01] pnrobinson commented on #42
I think this issue is stale and also partially implemented. Closing.

[2020-04-20 11:01] #42 closed

[2020-04-20 11:02] pnrobinson commented on #23
I think we can close this - this functionality should not be in the core library

[2020-04-20 11:02] #23 closed

[2020-04-20 11:02] pnrobinson commented on #31
I think this issue is stale -- we are going to be refactoring to TF2 anyway and the original function now seems to be working.

[2020-04-20 11:02] #31 closed

[2020-04-20 15:07] vidarmehr commented on #106
@callahantiff  I have created the branch linkprediction_functions in which I have implemented Degree Product score, Jaccard's score, Adamic adar's index and Common Neighbors's score in link_prediction_functions.py. I am going to add more unittests in test_link_prediction_functions.py  make a pull request and ask you to review the code. Thanks.

[2020-04-20 15:34] callahantiff commented on #106
Awesome @vidarmehr, that sounds fantastic!

[2020-04-20 15:40] pnrobinson commented on #14
@callahantiff @deepakunni3 @vidarmehr
After studying TF2 for a few more weeks, I do not think that we will be able to do this by subclassing tf.keras.models.Model, at least not without reimplementing a lot of other things. For instance, the NCE loss function is provided by tf2, but it needs weights and biases of the output layer as inputs. While we can do this, the resulting code is not that easy

[2020-04-20 16:36] callahantiff commented on #14
@pnrobinson - I think that sounds completely reasonable and makes sense, especially given our timeline.

[2020-04-20 16:48] pnrobinson commented on #14
So does this mean mainly starting from creating_keras_develop_branch ?
The main changes in this branch are for the CSFGraph that it returns tensors?
Should we also add a class to input texts?

[2020-04-20 16:57] callahantiff commented on #14
Yes, I believe so.

I have also updated the [`text_encoder_tf.py`](https://github.com/monarch-initiative/N2V/blob/creating_keras_develop_branch/xn2v/text_encoder_tf.py) script. It might provide a start for a text class or perhaps we want a fresh start using the workflows from the Coursera course that you took?

[2020-04-20 23:37] pnrobinson opened #113 "Short sentences"
Using this
[code]
with one of my all time fav books, Treasure Island (I really need to re-read this again!), I am getting some sentences that are too short.
[code]
We should figure out how we want to handle things like this. I am guessing that for many purposes, people will just take the entire book as a string, but we need to define an expected behavior. Thoughts?

[2020-04-21 01:00] pnrobinson opened #114 "calculate_vocabulary_size"
in calculate_vocabulary_size, we have:
[code]
but by the time we get here, we also have a self.dictionary and can avoid doing the len(set(list(x))) trick. I am guessing that even with the graph, we will also pass the dictionary/reverse_dictionary woth node names, right? So we can just go
[code]
I think that we also do not need the +1 here.
Please shout if this is wrong.

[2020-04-21 11:01] pnrobinson opened #115 "Refactoring decisions"
Hi everybody,
there are a number of things that need to be refactored. I am going to summarize them here as a list so that we can discuss them if anything winds up (Deities forbidding) not working!

[code]
self.data used to be a list but now it is a tf tf.data.Dataset. The following code gets us to an integer
[code]
Therefore, let's go for
[code]
This will work for now but might break if we ever d

[2020-04-21 11:11] pnrobinson opened #116 "list_of_lists"
This code leads to a crash
[code]
The ``self.list_of_lists = False`` needs to be the else for ``if(any(isinstance...``

[code]
I fixed this but please shout if this is wrong. I will close in a few days.

[2020-04-21 13:40] callahantiff commented on #116
Looks good to me!

[2020-04-21 13:59] callahantiff commented on #115
Looks good to me. I had also created a function in the `tf_utils` script that might work. It is designed to work for a ragged tensor or `tf.Dataset`:

[code]

[2020-04-21 17:52] pnrobinson opened #117 "returning "words" option"
I am not convinced that returning a
``tensorflow.python.data.ops.dataset_ops.TensorSliceDataset`` from the Text Encoder class is the best option, because in essence we want just one line of integers, and AFAIK there is no way of getting this directly (cf chapter 15 of the Geron book). It is pretty useful for the list of lists approach that we need for node2vec though!

[2020-04-21 18:20] pnrobinson commented on #117
I take it back, I think I figured this out...

[2020-04-21 18:36] pnrobinson commented on #117
So I think here it is
[code]

This outputs numpy lists of length 128 until the very last list. We could either skip this or we can process what we have, as long is there is enough for the window span of skip-gram or cbow.
This seems to go decently fast and will not be the bottleneck in code. I think that we can pass this
list to the same batching function that we will use for list-of-lists.

[2020-04-21 18:41] callahantiff commented on #117
@pnrobinson - NICE 🎉  that looks great!

Should we add something to the batch generation function that dynamically calculates the batch size based on the number of input samples?

[2020-04-21 19:09] pnrobinson commented on #115
The training loop probably needs some refactoring love. This is an excerpt of what we have now:
[code]

But instead we could do something like this
[code]
(Roughly)...we just need to add the "display" code somewhere, and we also want to capture the history of the loss something like a standard keras model does. But since lst is a simple python array in both cases, the get-next-batch  function can

[2020-04-21 21:17] pnrobinson commented on #116
fixed in branch creating_keras_develop_branch

[2020-04-21 21:17] #116 closed

[2020-04-22 00:07] pnrobinson opened #118 "WindowDataset will not be optimized"
I have pushed some code to the keras branch. It is sort of working, but I am getting this warning
[code]
This is definitely not a good thing. Initial googling did not lead to an obvious improvement. Ideas?

[2020-04-24 15:42] pnrobinson opened #119 "word option"
Question. -- if we are using the words option, then we have just one long sequence (i.e., an entire book etc).
What does the last line of the following code do?
What about returning it as a RaggedTensor with just one entry?

[code]

[2020-04-24 15:56] callahantiff commented on #119
This part of a manual way of deriving a list of lists that provides the word position for each word in a sentence. It was created in order to match the output from the built-in TF method that can only be applied to a list of lists.

Can you tell me a bit more about why you would want a RaggedTensor with a single entry returned here?  We do return a TF object using the code in lines 174-176. Maybe

[2020-04-24 16:03] pnrobinson commented on #119
It seems that returning a Dataset object is suboptimal UNLESS we can figure out how to manipulate it without getting the warning about non-optimization.
Also returning just a Python list would be possible here, since we are just transforming in the last line of this function and could do the transformation somewhere else, also, if we wanted to.

[2020-04-24 16:14] callahantiff commented on #119
I see. OK, so it sounds like we are certain that the tf.Dataset object is responsible for that warning? If that's the case, perhaps the best immediate solution is to just return a list, like you mentioned, and convert it somewhere else. That would be an easy change to make.

[2020-04-24 16:22] pnrobinson commented on #119
I will make this change in a branch called train3 (from the keras branch), and if things work I will make a PR, OK?

[2020-04-24 16:23] callahantiff commented on #119
OK, that sounds great!

[2020-04-25 21:07] pnrobinson opened #121 "New name"
"N2V" is not the world's most original name.
What do we think about
[code]
Any other ideas?

[2020-04-26 00:22] realmarcin opened #123 "setup.py issue for tensorflow (known issue -- to keep track)"
This is just to keep track that the current setup.py throws an error when trying to install tensorflow:

No local packages or working download links found for tensorflow>=2.0

The workaround is something like:
pip install --upgrade tensorflow

And actually in a cluster environment you will usually want something like:
module load ml/tensorflow/2.1.0-py37

[2020-04-26 10:46] pnrobinson commented on #109
It looks like we will not be able to use the keras API for this project and so we will have to make our own graphics...

[2020-04-26 10:46] #109 closed

[2020-04-26 11:01] pnrobinson commented on #104
Now the graph class is returning lists of ints as well as a dictionary and reverse dictionary.
I am wondering in terms of architexture if we should do something like this in the constructor of the graph class
[code]
(while we are parsing the XKG files, we keep track of the strings that represent the edge and node types and create an integer code for each of them)
Then, when are are parsing the fil

[2020-04-26 13:39] pnrobinson opened #124 "GloVe crash"
We are getting this error in the glove branch for glove training
[code]
According to this stack overflow (https://stackoverflow.com/questions/61166864/tensorflow-python-framework-ops-eagertensor-object-has-no-attribute-in-graph), this error message can come if you try to optimize a Tensor (which is immutable) instead of a tf.Variable.
This code
[code]
is returning EagerTensors. They are not mutabl

[2020-04-26 13:44] pnrobinson commented on #124
This is true -- it seems odd.
[code]
produces
[code]

[2020-04-26 13:56] pnrobinson commented on #124
I think I figured it out! We get the embeddings for a certain number of examples and these are returned to embed_in etc (they are immutable tensors). But then we we calculate the gradients, we need to pass the original and mutable embeddings for the whole dataset (tf.Variable). TF figures out which ones to update.
[code]

[2020-04-26 17:01] pnrobinson commented on #124
fixed with https://github.com/monarch-initiative/N2V/pull/125

[2020-04-26 17:23] callahantiff commented on #121
I love these! Other thoughts building on what you already added:
- V2V4ML
- V4ML - just collapsing the V2V4ML

Will keep thinking...

[2020-04-26 17:25] justaddcoffee commented on #121
These are all good. Another one we considered at one point I think was star2vec (sort of captures the effort to implement lots of different algorithms)

[2020-04-26 18:30] #124 closed

[2020-04-26 18:30] pnrobinson commented on #118
this was fixed!

[2020-04-26 18:30] #118 closed

[2020-04-26 18:31] pnrobinson commented on #107
The GloVe class now uses the text_encoder to input data. If a list of lists is passed, it should directly use them -- I think we can close this and we may need a new issue to put RW data into GloVe

[2020-04-26 18:31] #107 closed

[2020-04-26 18:32] pnrobinson commented on #45
I think that the text_encoder class does this, we are all set!

[2020-04-26 18:32] #45 closed

[2020-04-26 18:32] pnrobinson commented on #43
I think this issue has gotten stale, closing. Reopen if necessary!

[2020-04-26 18:32] #43 closed

[2020-04-26 18:34] pnrobinson commented on #15
We wound up not implementing by subclassing Keras classes and therefore cannot use a callback. We can figure out other ways to display the embeddings in tensorboard

[2020-04-26 18:34] #15 closed

[2020-04-26 23:08] pnrobinson opened #127 "create_keras_merge: 2 remaining issues"
I have merged train3 into the create_keras branch, and also pre-merged develop back into the create_keras_branch. All tests except 2 are now being passed. Here is a summary.

# csf_graph

I do not think that the csf_graph_tf works right now, and at least currently, I do not think we should be using the tf.data.Datasets API right here -- I think the Datasets API is good when we are doing larger sca

[2020-04-26 23:09] pnrobinson commented on #127
After we have figured this out, we should merge this branch into develop and then try to merge the other branches before adding more stuff?!?

[2020-04-26 23:10] pnrobinson commented on #121
``TV4ML`` (pronounced "TV for ML", i.e., two V's (vertices and vocabularies) for machine learning?

[2020-04-27 13:09] pnrobinson commented on #127
I have fixed one of the two remaining issues. The last one will require some thought as to the desired behavior, but this test does not make sense with the current structure of the training loop, since we do not actually store the number of walks (we could reintroduce this).
[code]

[2020-04-27 13:19] pnrobinson commented on #127
I think that we can now completely replace text_encoder.py with text_encoder_tf.py
At this point, I do not think we should keep working on the csf_graph_tf -- I think we should stick with the original version.

@callahantiff @justaddcoffee @deepakunni3 @LucaCappelletti94 @vidarmehr
Unless somebody shouts, I would like to merge all of the creating_keras and link_prediction branches so that we can t

[2020-04-27 13:50] vidarmehr commented on #121
I think we should keep "E" for embedding somewhere in the name.  Maybe VE4ML (Vertex embedding for machine learning)?

[2020-04-27 14:56] pnrobinson commented on #127
I merged and now 91/91 tests are passed. We should now start to see how we are doing on real data, but I think we can close this issue!

[2020-04-27 14:56] #127 closed

[2020-04-27 14:56] pnrobinson commented on #115
Closed by https://github.com/monarch-initiative/N2V/issues/127

[2020-04-27 14:56] #115 closed

[2020-04-27 14:56] pnrobinson commented on #14
closed by https://github.com/monarch-initiative/N2V/issues/127

[2020-04-27 14:56] #14 closed

[2020-04-27 15:35] vidarmehr opened #128 "hetnode2vec_tf"
@pnrobinson Hi Peter, I noticed that hetnode2vec_tf has still the old version of get_alias_edge_xn2v. I create a new branch and will update hetnode2vec_tf.py and the tests according to the latest change that I had made.

[2020-04-27 16:05] pnrobinson commented on #128
Sounds great -- please update the branch. If things are ok, let's delete one of the two hetnode2vec files to avoid confusion. Also, please merge the link prediction branch and then we should polish and begin testing on real data!

[2020-04-27 16:25] vidarmehr commented on #128
Sure, Peter! I will check if hetnode2vec_tf works well or not. If yes, then I will keep the hetnode2vec_tf.py.

I will wait for Tiffany to approve the pull request (link prediction functions to develop). She said that she will review the code today.

[2020-04-27 16:30] pnrobinson commented on #117
I have timed this and the datawindows solutions takes MUCH longer than just using plain old Python. In the latest revision, I have just used python for the get_batch functions and things seem to be working. I think the main advantage for the datasets API is in managing at a larger scale (e.g., different files).
We should probably implement the get batch functions similar to
https://www.tensorflow.

[2020-04-27 16:30] #117 closed

[2020-04-27 16:30] pnrobinson commented on #119
done with the latest PR

[2020-04-27 16:30] #119 closed

[2020-04-27 18:19] justaddcoffee commented on #104
Okay, using a dictionary to manage node type seems reasonable and probably way easier to implement (and maybe more performant) than using a Node class, considering how things work now (using indices and dictionaries/reverse dictionaries to manage nodes).

I'll work on this today

[2020-04-27 19:21] vidarmehr commented on #128
hetnode2vec_tf and test_hetnode2vec_tf have been updated in the new branch het_n2v_tf. I get error messages in both branches develop and het_n2v_tf when I run link prediction. I will submit issues and fix them before merging het_n2v_tf to develop.

[2020-04-27 19:28] vidarmehr opened #129 "error: runLinkPrediction_ppi"
I get the error messages when I run run_link_prediction in develop branch:

  File "/Users/ravanv/PycharmProjects/N2V/runLinkPrediction_ppi.py", line 177, in <module>
    main(args)
  File "/Users/ravanv/PycharmProjects/N2V/runLinkPrediction_ppi.py", line 171, in main
    learn_embeddings(walks, pos_train_graph, args.w2v_model)
  File "/Users/ravanv/PycharmProjects/N2V/runLinkPrediction_ppi.py", l

[2020-04-27 19:45] vidarmehr opened #130 "error: runLinkPrediction_with_validation_ppi.py"
File "/Users/ravanv/PycharmProjects/N2V/runLinkPrediction_with_validation_ppi.py", line 192, in <module>
    main(args)
  File "/Users/ravanv/PycharmProjects/N2V/runLinkPrediction_with_validation_ppi.py", line 186, in main
    learn_embeddings(walks, pos_train_graph, args.w2v_model)
  File "/Users/ravanv/PycharmProjects/N2V/runLinkPrediction_with_validation_ppi.py", line 126, in learn_embeddings

[2020-04-27 19:46] vidarmehr commented on #128
The issues are related to word2vec. I try to solve them.

[2020-04-27 19:47] pnrobinson commented on #130
I think I may have removed this variable since we need to rethink the display functionality. For now, we could just re-add this variable, or remove it from the function call but we need to rethink this!

[2020-04-27 19:49] vidarmehr commented on #130
@pnrobinson Thanks, Peter. So, for now, I will remove it from the function call.

[2020-04-27 19:52] vidarmehr commented on #130
Now, runLinkPrediction_with_validation_ppi.py runs with no error.

[2020-04-27 19:52] #130 closed

[2020-04-27 19:55] vidarmehr commented on #129
I removed model.train() from the function call and now runLinkPrediction_ppi.py runs with no error.

[2020-04-27 19:55] #129 closed

[2020-04-27 19:58] callahantiff commented on #130
@vidarmehr and @pnrobinson - you guys make a good team! 😄 I am glad to hear that everything is working again.

[2020-04-27 20:19] vidarmehr commented on #130
Thank you, Tiffany! WE are all make a good team:)

[2020-04-27 21:41] vidarmehr commented on #128
I merged the het_n2v_tf to develop and deleted the het_n2v_tf branch. Travis was failing due to some typing errors.

The random walk in heterogeneous node2vec is now up to date and all tests pass. However, to check if the heterogeneous node2vec works or not, we should test it on some heterogeneous graphs.

[2020-04-27 21:52] deepakunni3 commented on #121
@vidarmehr I like your suggestion.
Its also an easy name to say: VE4ML (we formal)

[2020-04-27 22:00] pnrobinson commented on #121
Can we get an 'ry' into there somehow

VERe4ML ?

Vertex Embedded Representation for Machine Learning

i.e., "very formal"?

[2020-04-27 23:50] #128 closed

[2020-04-27 23:53] vidarmehr commented on #106
Degree Product score, Jaccard's score, Adamic adar's index and Common Neighbors's score were implemented in the  link_prediction_functions.py. branch which was merged to develop. So, I close this issue.

[2020-04-27 23:53] #106 closed

[2020-04-27 23:55] vidarmehr commented on #105
I wrote a simple code to calculate cosine similarity. But, maybe it is good to use the tf implementation.

[2020-04-28 00:58] pnrobinson commented on #105
As a rule it is almost always better to use library functions for things like this.

[2020-04-28 15:36] vidarmehr commented on #121
Thanks! I did not think that it can be read as "we formal" :)

[2020-04-28 16:14] pnrobinson commented on #16
We will not be using keras.Model subclassing and thus cannot use this kind of callback. We can consider other ways of doing this but it might be best for testing just to use a set number of iterations.

[2020-04-28 16:14] #16 closed

[2020-04-28 16:15] pnrobinson commented on #105
@vidarmehr can we close this now?

[2020-04-28 16:17] vidarmehr commented on #105
Yes, Peter. I close it.

[2020-04-28 16:17] #105 closed

[2020-04-28 16:36] pnrobinson commented on #85
Where are we here -- should we implement the logging style above?

[2020-04-28 16:36] pnrobinson commented on #84
I am closing, it looks like we are done--reopen if needed.

[2020-04-28 16:36] #84 closed

[2020-04-28 17:39] vidarmehr commented on #85
We did not talk about this last week. What about talking about it in the Thursday meeting this week? Or if everyone agrees we should move all print statements to loggin?

[2020-04-28 19:03] pnrobinson commented on #85
I thought the question was about what style of logging to do?

[2020-04-28 19:29] justaddcoffee commented on #85
For now, I'd vote we just agree to use `logging.debug()|info()|warning()|error()` calls instead of print statements.

If we want to get fancy later, we could crib KGX's style that Deepak mentioned (basically just put an `__init__.py`, `config.py` and `config.yaml` in `xn2v` directory to make a logger we can use elsewhere in the code). Or we could do this now - glad to make a PR if we want to do th

[2020-04-29 15:41] vidarmehr opened #135 "results don't match!"
I ran link prediction (run_LinkPrediction_with_validation) on the train/valid/test set of ppi data that I had generated before and did not get the same result as before! I get AUC around 0.5 after 150,000 num_steps with Skipgram and CBOW. I do not think that i have made a stupid mistake but I am going to read the word2vec and find what caused this difference.

[2020-04-29 17:06] justaddcoffee commented on #104
@pnrobinson still working on a PR #120 to address this - I'm following the spirit of what you describe above, although I've deviated slightly. I'm unit testing everything, so should be easy to refactor. Glad to describe the refactor tomorrow on the N2V call if you can make it

[2020-04-29 17:10] pnrobinson commented on #135
@vidarmehr  Should we do a code review at 2:30PM -- hopefully there is just some simple mistake that we can fix

[2020-04-29 17:22] vidarmehr commented on #135
Yes, Peter. Thank you very much for your help.

[2020-04-29 19:07] pnrobinson commented on #135
Hopefully it was the fact that RaggedTensor was not getting recognized as a list of lists
https://github.com/monarch-initiative/N2V/compare/develop...detectRagged?expand=1

[2020-04-29 19:23] pnrobinson opened #137 "Documentation"
What actually is the best way of publishing a website with documentation about how to use this software? In general, Python documentation seems to be automagically generated by autosphinx? Can we combine that with readthedocs?

[2020-04-30 13:59] vidarmehr commented on #135
Still the AUC is around 0.5. I used num_steps=5000,  50,000 and 150,000.

[2020-04-30 16:16] vidarmehr opened #138 "update runAnalysis and runSkipGram_ppi"
update runAnalysis.py and runSkipGram_ppi.py according to new changes

[2020-04-30 17:38] justaddcoffee opened #139 "Pickle or otherwise save random walks so they can be reused"
Per convo in N2V meeting

This would be useful to reuse walks and speed up runtime for different learning tasks or different classifiers, etc

@realmarcin

[2020-04-30 18:02] callahantiff commented on #121
G4ML --> Graph4ML

[2020-04-30 18:04] justaddcoffee commented on #121
Embiggen!

[2020-04-30 18:05] callahantiff commented on #121
GREML
GREL

[2020-04-30 18:54] justaddcoffee commented on #135
@vidarmehr could you possibly post the exact command you ran, and also links to the edge files we should use to try and reproduce this error? (Sorry, you've probably already posted this somewhere...)

[2020-04-30 19:22] vidarmehr commented on #135
@justaddcoffee
Hi Justin, Thanks a lot for your help.
I just share the google drive folder containing the edge files that you need to run link prediction.
https://drive.google.com/drive/u/0/folders/1g61minrM8DYqnqQifbErsbbrMUPekRMm

Here is the command to run the code:
`python  runLinkPrediction_with_validation_ppi.py`
It runs the link prediction code with validation on train/validation/test sets

[2020-05-01 19:31] justaddcoffee commented on #135
hi @vidarmehr @realmarcin - I just merged the fixes the group suggested (#141)

Could you guys let us know if this fixes/improved the ROC score for you?

[2020-05-01 20:40] vidarmehr commented on #135
@justaddcoffee Thank you very much, Justin! I will run the code on the cluster.

[2020-05-03 17:13] vidarmehr commented on #135
Hi everyone,
Good news! I ran link prediction (with validation) on the ppi data set with default parameters p=1,q=1, Skipgram model for word2vec, Logistic regression classifier and the results are:

n_epochs=1:
AUC score (training): 0.7826864458285363
AUC score (validation): 0.7804941668369281
AUC score (test): 0.7797414042943122

n_epochs=2:
AUC score (training): 0.8196919169001615
AUC score (val

[2020-05-03 17:35] justaddcoffee commented on #135
Excellent Vida!

The hackathon quashed that bug pretty quickly - Linus's Law in action!

[2020-05-03 17:50] vidarmehr commented on #135
@pnrobinson @justaddcoffee @callahantiff @LucaCappelletti94 @realmarcin @deepakunni3 Thank you everyone for your help!

[2020-05-03 18:09] pnrobinson opened #143 "Manuscript title"
Hi everybody,
can we start to plan the manuscript? I am guessing we will need this week for testing and polishing and next week we can go for the final results?

What about

[code]

[2020-05-03 18:22] callahantiff commented on #143
Sounds great Peter!

One extension idea to your title (since we now offer more than node2vec :D):

`Optimized node embedding improves link prediction accuracy`

OR

`Optimized heterogeneous graph embedding improves link prediction accuracy`

[2020-05-03 18:28] pnrobinson commented on #143
@callahantiff
I was thinking the first paper could be about node2vec + SG/CBOW/GloVe with the Bayesian parameter optimization. It might be easiest to write the paper about just this topic, but of course we should continue with the heterogeneous graphs!

[2020-05-03 19:14] callahantiff commented on #143
@pnrobinson - sounds good to me!

[2020-05-03 20:19] justaddcoffee commented on #143
Sounds good to me too. Hope to do some test runs on the new heterogeneous code this week - probably will take a little iterating to optimize things for het graphs like kg-covid-19

[2020-05-03 20:43] deepakunni3 commented on #143
@pnrobinson Sounds good!
Makes sense to have a focused paper first, and then extend that further. 👍

[2020-05-03 23:50] #135 closed

[2020-05-04 15:14] #104 closed

[2020-05-04 15:15] #26 closed

[2020-05-04 16:31] deepakunni3 commented on #137
@pnrobinson Yes, this is definitely the best way to go.

The automatic docs can be hosted in ReadTheDocs and well as GitHub pages, depending on what we want to use.

I can take a shot at this

[2020-05-04 16:32] deepakunni3 commented on #139
@justaddcoffee Is this desired? If so, I can look into this

[2020-05-04 17:20] pnrobinson commented on #139
@deepakunni3  -- definitely we should be able to pickle/unpickle the walks data and the embeddings, it would be great to have you think about this!

[2020-05-04 17:23] justaddcoffee commented on #139
Yeah, the walk can be pretty computationally painful - it'd be good to have the option to save off walks and reuse them!

[2020-05-04 17:32] deepakunni3 commented on #139
Okay, I'll start working on this 👍

[2020-05-04 18:08] justaddcoffee commented on #101
Possibly can close this ticket - we can't hand CSFGraph a networkx graph like this ticket says, but we can instantiated graph using TSV formatted files from KGX.

@callahantiff @deepakunni3 should we close this?

[2020-05-04 18:08] deepakunni3 commented on #101
Perfect! Yes, let's close this then 👍

[2020-05-04 18:09] #101 closed

[2020-05-04 18:13] justaddcoffee commented on #57
@deepakunni3 note this ticket, similar in a way to #139, which you are working on, in case you can kill two birds with one stone

[2020-05-04 18:25] justaddcoffee commented on #86
@callahantiff can we close this ticket?

I like `mypy` and enforcing typehints generally btw, thanks for incorporating this

[2020-05-04 18:54] callahantiff commented on #86
@justaddcoffee - absolutely, good to go on this! I will close it now. Thanks @justaddcoffee!

[2020-05-04 18:54] #86 closed

[2020-05-04 21:35] pnrobinson commented on #143
OK, I have updated the title. Can we work on a complete authors' list? Right now I have

Vida Ravanmehr, Tiffany Callahan, Luca Capelletti, Deepak Unni, Justin Reese, Michael Gargano, Hannah Blau, Giorgio Valentini, Peter Robinson,

but I am not sure if the order of authors is correct and we should invite others to join as well, esp. Chris. Who am I forgetting? Who else would like to work on writi

[2020-05-04 21:40] pnrobinson commented on #121
What was our final decision here? I am going to go with GREML for now, but if anybody would like to plead for another name we can discuss!

[2020-05-04 22:03] pnrobinson commented on #121
Actually, maybe embiggen is better since people might want to use just the word2vec part of the package?

[2020-05-04 23:12] realmarcin commented on #121
My only reservation would be that there are now many more advanced word2vec
flavors with various grammar, language document models -- so word2vec
itself might not be a huge sell?

On Mon, May 4, 2020 at 3:03 PM Peter Robinson <notifications@github.com>
wrote:

[2020-05-04 23:18] vidarmehr commented on #143
Marcin is missing.

[2020-05-05 00:27] pnrobinson commented on #143
ups sorry. Marcin, you get one beer from me!

[2020-05-05 14:59] pnrobinson commented on #143
sending around draft by mail now!

[2020-05-05 14:59] #143 closed

[2020-05-05 15:27] vidarmehr opened #147 "pull requests: merge to develop or master"
@pnrobinson Hi Peter, It seems some of the new pull requests were made to merge branches to master branch. I think it would be better to make sure that all branches are merged to develop branch first, right?

[2020-05-05 15:36] pnrobinson commented on #147
Yes  please -- all PRs should be to develop!
We should merge develop into master now.
When we are doing the testing, we should write down the version of master we are using.
Please let's do this
https://git-scm.com/book/en/v2/Git-Basics-Tagging

[2020-05-05 15:38] justaddcoffee commented on #147
@pnrobinson okay, sounds good. Sorry to break protocol, I just made that last PR to master b/c Chris pinged me about master branch failing, and I thought I'd fix that since it was a fairly small error...

[2020-05-05 15:50] vidarmehr commented on #147
@justaddcoffee Thank you, Justin. No problem. Please use develop branch if you or Chris want to run the link prediction code.

[2020-05-05 15:50] #147 closed

[2020-05-05 18:21] vidarmehr commented on #114
@pnrobinson

Hi Peter,
You changed the above code to this:

`def calculate_vocabulary_size(self) -> None:`
`if self.word2id is None and self.vocabulary_size == 0:`
                                       `self.vocabulary_size = 0`
`elif self.vocabulary_size ==0:`
                      `            self.vocabulary_size = len(self.word2id)`
`return None`

Can I close this issue?

[2020-05-05 18:28] vidarmehr commented on #121
Shall we vote for the names? I think GREML and embiggen are final candidates.

[2020-05-05 18:53] pnrobinson commented on #121
EMBigGEB

[2020-05-05 18:53] pnrobinson commented on #121
GREML

[2020-05-05 18:56] pnrobinson commented on #114
Thanks, I think we might want to refactor this bit of code, it is not elegant.
Currently the constructor allows the user to pass vocal_size, but I think we probably do not want to allow this. If the user wants to limit vocabulary size they need to do so with the text_encoder class.
So my vote would be to remove the vocal_size parameter from the constructor and to simplify this code

[2020-05-05 19:01] vidarmehr commented on #121
Thanks, Peter. What does it stand for? Embedding Generator ...? Can we delete  "g" or "G" in the middle of the word?

[2020-05-05 20:48] pnrobinson opened #148 "License"
We need a license for this project.
What do people think about GPL?

https://en.wikipedia.org/wiki/GNU_General_Public_License

or we could go with Apache 2 like TensorFlow does
https://github.com/tensorflow/tensorflow/blob/master/LICENSE

[2020-05-05 20:52] pnrobinson opened #149 "Text encoder addition"
It would be good to be able to pass a CSV file to the text encoder where fields 1..(k-1) are some metadata and field k is a text (all in one line). Then we could do something like this

[code]

The encoder would then return a list of lists for embedding. For instance, this will be useful for pubmed abstracts

[2020-05-05 20:52] callahantiff commented on #148
I also tend to use Apache 2. I love this website: [https://choosealicense.com/](https://choosealicense.com/), in case you want a different way to think about it.

[2020-05-06 11:26] pnrobinson commented on #149
@vidarmehr @callahantiff @justaddcoffee
PS -- we have two textencoder classes. (with and without _tf).
Which one should we keep?

[2020-05-06 14:01] pnrobinson commented on #121
@deepakunni3 @justaddcoffee @cmungall @vidarmehr @callahantiff @LucaCappelletti94
-- any other votes for the name?
-- Is there any other Python package called embiggen?

[2020-05-06 14:24] justaddcoffee commented on #121
Both contenders are good, I guess I'll vote for embiggen

Turns out there is a package for this! Both names are free, according to `is-taken`:

[code]

[2020-05-06 14:34] justaddcoffee commented on #149
I'd vote we keep the newer, shinier _tf version

(although are being used according to PyCharm. So, it'd probably require a PR with a little surgery to remove the non-tf version...)

[2020-05-06 15:11] callahantiff commented on #149
We definitely want the new version (`_tf`). I can take a look later today and make a new PR. OK to do that on `develop`?

[2020-05-06 15:15] vidarmehr commented on #149
Thank you, Tiffany. I am testing the branch that Deepak created. As soon as we merge it to develop which will be in an hour or so, then I think it would be ok to work on develop.

[2020-05-06 15:21] LucaCappelletti94 commented on #121
Since the [definition that I found online of the word](https://www.merriam-webster.com/dictionary/embiggen) is:

I would vote for this one as well.

[2020-05-06 15:24] vidarmehr commented on #121
So, we have 4 votes (Peter, Justin, Vida, Luca) for embiggen.
@callahantiff @deepakunni3 @realmarcin @cmungall
Any vote for GREML?

[2020-05-06 15:40] callahantiff commented on #149
Sounds good @vidarmehr - would be willing to ping me when you think it's a good time for me to start working on that (and no rush on my end)? 😄

[2020-05-06 15:52] vidarmehr commented on #149
@callahantiff Tiffany, I merged that branch to develop. Also, I have fixed number of epochs to 2 to get faster result. I am cleaning up the code. So, we will have num_epochs in parse_args().

[2020-05-06 15:57] pnrobinson commented on #121
Can we also vote on documentation? What about readthedocs? I seem to recall that we can automatically generate some documentation from the Pydoc? Then we just need to add some tutorials, right?

[2020-05-06 15:59] callahantiff commented on #121
My vote is for GREML 😄

[2020-05-06 16:20] vidarmehr commented on #149
@callahantiff Tiffany, so sorry. Let's wait until I merge my branch to develop, too. I will let you know when I am done.

[2020-05-06 16:35] deepakunni3 commented on #85
@vidarmehr I see you are tidying up the codebase and replacing the print statements with logging as part of the `clean_up`. I'll assign this ticket to you then.

[2020-05-06 16:44] vidarmehr commented on #85
Yes, Deepak. I will do it.

[2020-05-06 17:09] deepakunni3 commented on #121
I vote for GREML, but there might be a confusion with the name since GREML exists in genomics.
https://www.rdocumentation.org/packages/qgg/versions/1.0.3/topics/greml
https://www.pnas.org/content/113/32/E4579

I do not see similar conflicts with embiggen.

[2020-05-06 17:31] deepakunni3 commented on #148
I would also recommend BSD3: https://choosealicense.com/licenses/bsd-3-clause/

[2020-05-06 17:35] justaddcoffee commented on #148
Any license that allows free reuse at least for academic purposes is fine by me.

If we have questions on the finer points, Seth (@kltm)is a fount of license-y wisdom

[2020-05-06 17:47] pnrobinson commented on #148
I would say our goals are
1. Any body can use the software
2. Nobody sues us
I thought that was what GNU does -- and it also encourages other people to play the same game?

What advantage do the other licenses have actually?

[2020-05-06 17:57] kltm commented on #148
I tend to prefer and recommend BSD-3 clause for software (over MIT). If somebody realistically thinks patents are an issue, there is Apache.
GPL is...complicated and can prevent reuse is others do not use the same license. If one is joining a body of software that already uses it, it's fine. For new works, something more permissive generally plays better with the community.

[2020-05-06 18:16] pnrobinson commented on #148
@kltm Thankls!
So is everybody ok with BSD3 ?

[2020-05-06 18:16] justaddcoffee commented on #148
+1 BSD3

[2020-05-06 20:50] pnrobinson commented on #148
https://github.com/monarch-initiative/N2V/pull/152

Please acccept if OK. You need to say (c) by -- I put Monarch Initiative if that is OK?

[2020-05-06 21:04] pnrobinson commented on #137
@deepakunni3 That would be great. I am fine with either option, whatever is easiest to set up!

[2020-05-06 21:09] pnrobinson commented on #121
hmm, now we need a decision procedure!

[2020-05-06 21:36] callahantiff commented on #149
@vidarmehr - I have taken care of the `text_encoder_tf` pointers. I updated the `__init__.py` file for now to point to the `text_encoder_tf.py` script rather than the original.  I did not want to delete the original `text_encoder.py` file, unless everyone thought that was OK. If we do go that route I can quickly update the naming to remove `_tf`. All of the current scripts that relied on this file

[2020-05-06 21:53] vidarmehr commented on #149
@callahantiff Thank you, Tiffany. I agree with the changes. I also tested the code to make sure that everything works well. Please delete the original one and then remove _tf, so we have only one text_encoder.py file which is the tf version.

[2020-05-06 22:05] callahantiff commented on #149
@vidarmehr - done! Can we close this?

[2020-05-06 22:09] vidarmehr commented on #149
Thank you, Tiffany!

[2020-05-06 22:09] #149 closed

[2020-05-06 22:25] cmungall commented on #121
I like embiggen

note there is a GREMLIN already in the graph space

[2020-05-06 23:11] realmarcin commented on #121
embiggen is Simpsons town motto, can't lose with that :)
It does sound a little like something our president might use, but that makes it even more timely :)

so, is it technically (capitalization)?
EmbigGen

what is the 'ig' ?

[2020-05-06 23:22] #148 closed

[2020-05-06 23:28] #139 closed

[2020-05-06 23:31] #57 closed

[2020-05-08 21:54] justaddcoffee opened #157 "implement early stopping in neural net models"
per convo with @LucaCappelletti94, still need to implement early stopping in `NeuralNetwork`

[2020-05-08 22:20] pnrobinson commented on #121
I think the clear majority is for embiggen (note: I actually liked VeRe4ML but embiggen was close 2nd!). Let's go ahead and change the name of the repo  -- I will do so tomorrow if nobody shouts!

[2020-05-09 03:58] vidarmehr commented on #138
@pnrobinson Do you think we should still keep these tow files? These are codes to test embedding and link prediction. The runLinkPrediction_ppi already embeds the small training ppi file and predict links from pos/neg edges.

[2020-05-09 10:25] pnrobinson commented on #138
I would suggest we want to keep one example file for running the package (just one file!)

[2020-05-10 03:29] vidarmehr commented on #138
@pnrobinson  I extracted pos/neg train/valid/test sets from the karate edge list and created a new branch called analysis in which runLinkPreiction_karate.py runs embedding and link prediction on the edge lists.
runSkipGram only embeds a graph and runAnalysis has to be modified to be used as the embedding and link prediction code.
So, if it is ok with you, I will just keep runLinkPrediction_karate

[2020-05-12 21:24] vidarmehr commented on #121
We renamed the repo to embiggen. so, I close this issue.

[2020-05-12 21:24] #121 closed

[2020-05-12 22:03] pnrobinson commented on #46
@hannahblau @LucaCappelletti94 @deepakunni3 @justaddcoffee @vidarmehr  Should we publish this on PyPI in preparation for submission? We should have a 0.6 release next week that we could submit.

[2020-05-12 22:28] deepakunni3 commented on #46
@pnrobinson Absolutely 👍

I would also recommend tracking changes between release via a ChangeLog.md and have Release Notes tied to each release. This helps in determining what changed and whats new.

[2020-05-12 22:57] justaddcoffee commented on #46
Sure, it'd be good to have this on PyPi when the paper is reviewed

[2020-05-13 22:16] vidarmehr opened #162 "error: w2v in runAnalysis.py in the branch analysis_with_click"
branch analysis_with_click:
get an error message when I run w2v in runAnalysis.py:

  File "/Users/ravanv/PycharmProjects/embiggen/runAnalysis.py", line 172, in <module>
    cli()
  File "/Users/ravanv/anaconda3/envs/N2V-TF/lib/python3.7/site-packages/click/core.py", line 829, in __call__
    return self.main(*args, **kwargs)
  File "/Users/ravanv/anaconda3/envs/N2V-TF/lib/python3.7/site-packages/

[2020-05-13 22:19] pnrobinson commented on #162
This seems to be the issue:
indices = 9815 is not in [0, 9815) [Op:ResourceGather] name: embedding_lookup

[2020-05-14 04:21] vidarmehr commented on #162
@pnrobinson I increased the vocabulary_size by 1 in xn2v/calculate_vocabulary_size. The code ran successfully. I am going to make a pull request. But, please let me know if you have any comment or correction on this. Thank you.

[2020-05-14 04:30] vidarmehr commented on #138
@pnrobinson I have deleted runSkipGram_ppi. After your approval on pull request, I will only keep runAnalysis.

[2020-05-14 04:33] vidarmehr commented on #114
I work on this after making sure that the vocabulary_size is calculated correctly.

[2020-05-14 12:36] #162 closed

[2020-05-14 17:19] justaddcoffee opened #164 "Update README with new name"
Several references to N2V on the README, should change this to new name probably

[2020-05-16 10:54] pnrobinson opened #166 "Local install does not work"
Hi everybody, we probably need to start testing how embiggen will work for others. I just tried this
[code]
However, when I try to import embiggen, I get this
[code]
If I go to the local installation, I see that only the top level files get used:
[code]
So for whatever reason, the csf_graph file is not getting into the installation.

Any ideas?

[2020-05-16 10:55] pnrobinson commented on #166
PS, I was trying with this branch: https://github.com/monarch-initiative/embiggen/pull/165

[2020-05-16 11:23] LucaCappelletti94 commented on #166
I believe you should install the repository by using `pip install .`, instead of using the `setup.py`, as this can patch numerous errors that are not handled by the `setup.py` file, but I don't think that the error you have listed falls between those. I will look into this.

[2020-05-16 15:25] vidarmehr commented on #138
I deleted runLinkPrediction_karate.py. It is already included in runAnalysis.py. So, I close this issue.

[2020-05-16 15:25] #138 closed

[2020-05-16 16:27] justaddcoffee commented on #166
@pnrobinson can't reproduce this error

What steps did you do before `python setup.py install --user` - I guess you did a `git clone https://github.com/monarch-initiative/embiggen.git`?

[2020-05-16 16:59] pnrobinson commented on #166
I did this after a git pull (develop)
[code]
When I try to import it, I get this error (on a debian box)
[code]

[2020-05-18 15:06] vidarmehr commented on #85
print statements are converted to logging.

[2020-05-18 15:06] #85 closed

[2020-05-19 14:39] pnrobinson commented on #137
Here is a link to the new readthedocs site:
https://embiggen.readthedocs.io/en/latest/index.html
It still needs work but I am closing this issue and we can make specific issues for specific documentation pages

[2020-05-19 14:39] #137 closed

[2020-05-22 18:52] justaddcoffee commented on #157
I think this will be closed when #16  is merged

[2020-05-22 18:59] justaddcoffee opened #173 "Get Emiggen and Ray working on all available compute clusters"
We have access to at least these clusters:

Google Cloud - in progress - Fengchen working on this
Lawrencium - in progress - Marcin working on this
NERSC/Cori - in progress - Justin working on this
JAX cluster - working

Ideally it'd be great to get tooling working to run Emiggen and Ray on any/all of these clusters to find optimal hyperparameters.

Luca's code to deploy ray on clusters is here:
h

[2020-05-22 19:13] justaddcoffee commented on #173
Getting close to working on NERSC/Cori, but I'm seeing this error:

[code]

@LucaCappelletti94 ideas?

[2020-05-23 10:18] pnrobinson opened #176 "Update sonar file"
sonar.projectName=xn2v

version and name are no longer correct

[2020-05-23 11:06] LucaCappelletti94 commented on #176
That is relative to the SonarCloud project, not the Github repo. We can take 30 minutes (tops) to create a new SonarCloud project and update its references.

[2020-05-23 13:14] vidarmehr opened #177 "git tag"
@pnrobinson
I used ` git tag -a v0.6 -m "parallelized random walk"` to tag a new version to the master branch.
I also changed version in __version__.py to 0.6.0. Could you please check if it is correct or not? Thanks.

[2020-05-23 16:50] richardliaw commented on #173
why is there an unknown location, are the right modules loaded? maybe try something simple like `import ray; ray.init()`?

[2020-05-24 12:06] LucaCappelletti94 commented on #173
In the meantime @justaddcoffee, I have updated the [setup and test guide](https://github.com/LucaCappelletti94/distributed_bayesian_optimization). If you have 15 minutes to spare, we could have a small test run.

[2020-05-24 19:04] pnrobinson opened #178 "CSV parser"
I am trying to figure out how to modify the text encoder to read in a CSV file that includes
one "sentence" in field 3 (index 2) for each row. We will use this for the PubMed analysis.
I have shown the intended usage in ``tests/test_text_encoder.py`` in
[code]
However, I am getting various errors and clearly do not understand everything in the existing
text encoder class. Any help appreciated.

PS

[2020-05-24 19:07] callahantiff commented on #178
@pnrobinson - I am happy to help take a look at this first thing tomorrow.

[2020-05-24 19:30] pnrobinson commented on #178
@callahantiff Thanks, awesome!

[2020-05-25 14:57] justaddcoffee commented on #173
@LucaCappelletti94 sure, let's sync up, maybe early next week

[2020-05-25 14:58] justaddcoffee commented on #173
Thanks @richardliaw

[2020-05-25 15:01] callahantiff commented on #178
@pnrobinson - morning! I am going to start working on this now. Any chance you have small sample `.csv` file I can use to make sure we have the functionality correct for your intended use? Could be good to add it to the test data directory so we can reuse it in a test too.

[2020-05-25 15:21] callahantiff commented on #178
Found the data, should have read your prompt after I drank coffee 😺

[2020-05-25 15:49] callahantiff commented on #164
Looks like this has been completed. Will close, but please re-open if I am incorrect.

[2020-05-25 15:49] #164 closed

[2020-05-25 17:44] callahantiff commented on #178
@pnrobinson - Should be good to go. Want to give it a try now? I updated your test class so you should be able to examine the code using it.

<br>

**Changes Made:** Rather than using a separate (`build_dataset_from_csv`) method, I modified `process_input_text()` and added 3 new optional attributes to the `TextEncoder()` class:
- `payload_index` - an `int` specifying the col index to process (defa

[2020-05-25 21:33] pnrobinson opened #179 "Close resources properly"
/Users/peterrobinson/GIT/embiggen/embiggen/text_encoder.py:134: ResourceWarning: unclosed file
...

/Users/peterrobinson/GIT/embiggen/embiggen/text_encoder.py:141: ResourceWarning: unclosed file <_io.TextIOWrapper name='/Users/peterrobinson/GIT/embiggen/tests/data/greatExpectations3.txt' mode='r' encoding='UTF-8'>

[2020-05-25 21:34] callahantiff commented on #179
@pnrobinson - I'm fixing this as we speak 😄

[2020-05-25 21:35] pnrobinson commented on #178
@callahantiff  This looks great! I think we can merge.

[2020-05-25 21:35] pnrobinson opened #180 "ModuleNotFoundError: No module named 'parameterized'"
I am getting errors from the unit tests because I cannot seem to get python to recognize parameterized
[code]
even though I install parameterized successfully in PyCharm

[2020-05-25 21:36] callahantiff commented on #178
@pnrobinson - awesome! If you want, I will fix the problem in issue #179 and we can include those changes too?

[2020-05-25 21:41] pnrobinson commented on #178
Sounds great! Thanks

[2020-05-26 06:20] LucaCappelletti94 commented on #180
Hello @pnrobinson, I have run the tests on all the available branch and I cannot seem to be able to reproduce the error, would you consider having a short call afterwards to try and deal with this issue?

[2020-05-26 15:04] #178 closed

[2020-05-26 15:04] #179 closed

[2020-05-26 15:53] realmarcin opened #183 "investigate setting RANDOM SEEDS for random walk, embedding, link prediction"
this is to achieve full reproducibility for the hyperparameter optimization

[2020-05-26 17:38] vidarmehr opened #184 "write.embedding"
@callahantiff @pnrobinson Luca and I are trying to refactor the embiggen in a way that we could use Ray optimization. Luca wants to know if we can skip
write_embeddings(args.embed_graph, model.embedding, reverse_worddictionary)and instead of writing the embedding into a file and loading, we just load embedding in link prediction?

[2020-05-26 17:39] callahantiff commented on #184
Seems reasonable to me, assuming there would still be a way to generate and write embeddings for people who don't intend to run link prediction. Will that still be possible?

[2020-05-26 17:47] vidarmehr commented on #184
@callahantiff Thanks Tiffany. Yes. We will save the embeddings in a file, but in link prediction I don't think we need to read from the embeddings.

[2020-05-26 17:54] pnrobinson commented on #184
Can we make an optional way of writing the embeddings? I am guessing that for most real use cases, people will want too save the embeddings in a file.

[2020-05-26 18:00] justaddcoffee opened #185 "possibly a bug in SkipGramWord2Vec"
per convo with Vida and Luca at the hackathon:

in `train()` [here at line 348](https://github.com/monarch-initiative/embiggen/blob/a23424e717d196fc69d2ff02dbd005e8c9e555a1/embiggen/word2vec.py#L348), we are iterating over `range(1, self.n_epochs + 1)`, but here in [line 321](https://github.com/monarch-initiative/embiggen/blob/a23424e717d196fc69d2ff02dbd005e8c9e555a1/embiggen/word2vec.py#L321) we

[2020-05-26 18:14] pnrobinson commented on #185
I think we need to remove the iteration at line 348

[2020-05-26 18:18] callahantiff commented on #185
Agreed, that was my thought too.

[2020-05-26 18:37] #185 closed

[2020-05-26 19:13] pnrobinson opened #187 "model.add_display_words()"
We should simplify this so that the user can input a list of indices or a single integer (in which case the first k words should be shown).

[2020-05-26 20:18] vidarmehr commented on #185
@julesjacobsen Hi Justin,
 Did you fix this issue and merged the branch to develop? I don't see it in develop?

[2020-05-26 20:19] vidarmehr commented on #185
@julesjacobsen Oh, I just saw it. It was merged to master directly.

[2020-05-26 20:36] justaddcoffee commented on #185
My apologies @vidarmehr - I merged to master instead of develop. I'll make another PR to merge into develop

[2020-05-26 21:03] vidarmehr commented on #185
@justaddcoffee Not a problem at all, Justin! Thank you for fixing the issue.

[2020-05-26 21:41] vidarmehr commented on #157
@justaddcoffee It was merged to develop. So,  I close this issue.Thank you.

[2020-05-26 21:41] #157 closed

[2020-05-27 06:09] LucaCappelletti94 commented on #184
Hello! My proposal would be to create a method to save the embedding, optionally, when required to do so, but to avoid **having to** save the embedding for it to be used in the following step.

[2020-05-27 06:51] LucaCappelletti94 commented on #184
I have reimplemented [the transformation from RaggedTensor to dictionary](https://github.com/monarch-initiative/embiggen/blob/59362b3748aac1d4b4ed5190e482b9f9dea308fc/embiggen/word2vec.py#L123) and the [way we can save the embedding](https://github.com/monarch-initiative/embiggen/blob/59362b3748aac1d4b4ed5190e482b9f9dea308fc/embiggen/word2vec.py#L130). I believe that these methods are cleaner and

[2020-05-27 18:27] vidarmehr commented on #184
@LucaCappelletti94 Luca, thanks a lot! It looks great to me.  I am going to test and run linkprediction with these new changes.

[2020-05-27 21:18] vidarmehr commented on #184
@LucaCappelletti94 I get this error message when I run runLinkPrediction_ppi:

  File "/Users/ravanv/PycharmProjects/embiggen/runLinkPrediction_ppi.py", line 340, in <module>
    report = main(args)
  File "/Users/ravanv/PycharmProjects/embiggen/runLinkPrediction_ppi.py", line 293, in main
    args.num_walks, args.walk_length)
  File "/Users/ravanv/anaconda3/envs/N2V-TF/lib/python3.7/site-packages

[2020-05-27 21:34] LucaCappelletti94 commented on #184
@vidarmehr on it!

[2020-05-27 21:44] LucaCappelletti94 commented on #184
Basically, we need to implement a function to hash uniquely the CSFGraph object, given the considered files. Do you think we could plan a short hackathon to refactor CSFGraph to support this? I will need a bit of help to understand the inner workings of the class.

[2020-05-27 21:45] callahantiff commented on #184
Ohh count me in. I just re-read a bunch of papers related to this and would LOVE to help!! What's your time frame for the hackathon?

[2020-05-27 21:47] LucaCappelletti94 commented on #184
@callahantiff would tomorrow one hour or two before the usual meeting work for you?

[2020-05-27 21:51] pnrobinson commented on #184
Love to join the conversation but just a beginner. I thought that all of the objects within the class are "normal" (lists of strings and ints etc), and so it is not clear to me why we need a special hash function -- I'd love to understand better!

[2020-05-27 21:51] callahantiff commented on #184
Tomorrow morning anytime after 8am MT works for me. @pnrobinson - what about you?

[2020-05-27 21:54] LucaCappelletti94 commented on #184
Basically the "normal" hash function from python is instance dependant: basically you get the same hash only within the same python instance. Between multiple python instances, the hash functions will take different values, for this reason, we will need to add a custom hash function to allow for non-instance-specific hashing since we want to be able to cache a function that accepts a CSFGraph obje

[2020-05-27 23:08] vidarmehr commented on #184
Have you schedule for the meeting? If yes, then can you please include me in the meeting? Thanks.

[2020-05-28 01:56] fengchenLBL commented on #173
Successfully installed `distributed_bayesian_optimization` on a [Google Cloud cluster](https://www.qwiklabs.com/focuses/10390?parent=catalog). @justaddcoffee, I shared a google doc with you.

Install:
[code]
Run a test:
[code]
Got the results in __BO.csv__.
However, there are some errors in the slurm log file.
@LucaCappelletti94 , Did I miss something? Thanks.
[code]

[2020-05-28 02:44] callahantiff commented on #184
I don't believe a meeting has been made for this, at least not that I am aware of.

[2020-05-28 03:30] vidarmehr commented on #184
@callahantiff @LucaCappelletti94 Peter's schedule is full tomorrow from 10 am to 2 pm (ET). We can either meet at 2 pm (it is late for Luca), or we can meet at another time (maybe on Friday)?
@pnrobinson Peter, would you please let us know when a good time is for you to have a small hackathon? Thanks.

[2020-05-28 06:55] LucaCappelletti94 commented on #173
Do the BO results show a convergence? I mean, do they get very small by the end?

I'll look into the errors and I'll try to understand what is happening there.

[2020-05-28 07:00] LucaCappelletti94 commented on #184
For me 2 PM ET works, I'll get a take away for dinner. However, the task is not that daunting: the main issue is that complex objects may include attributes such as date times or ids that do not take part that much in describing the state of the Graph object but are more related to the specific instance. In our case, we only want to cache the data that have been loaded from a specific file, so bas

[2020-05-28 09:19] LucaCappelletti94 opened #192 "Create an Embiggen class."
I believe the package would benefit by the creation of an Embiggen class that handles every aspect of the graph embedding, such as:

[code]

It could then be used as follows:

[code]

After the code refactoring that we are doing in the [ray_loss_function](https://github.com/monarch-initiative/embiggen/pull/191) branch it should not be that far off, maybe one hackathon down the line.

What do you t

[2020-05-28 12:36] pnrobinson commented on #184
I cannot meet from 10-12PM but am free otherwise. If this does not work, please go ahead without me and fill me in later!

[2020-05-28 12:53] LucaCappelletti94 commented on #184
I have added the [stub consistent hash method](https://github.com/monarch-initiative/embiggen/blob/cbb51fb6041fa219b55ec89f1dd8d02290495091/embiggen/csf_graph/csf_graph.py#L511), now we only need to specify which parameters characterize uniquely an instance.

I am currently struggling to understand what the CSFGraph is doing in the constructor, so I will wait for your expertise on that.

For me af

[2020-05-28 13:17] vidarmehr commented on #184
Ok. So, let's meet at 12 pm (ET). I can send a zoom invite from my personal account. But, it is not free after 40 minutes. @callahantiff Tiffany, can we use your zoom account for this meeting? Would you please send a zoom invite to us for today at 12 pm (ET)? Thanks.

[2020-05-28 13:19] pnrobinson commented on #184
sorry, I messed up -- cannot join at 12 -- please go on without me and let me know!

[2020-05-28 13:24] vidarmehr commented on #184
@callahantiff If your account is not free after 40 minutes, then please let me know that I ask Peter's assistant to schedule a webex meeting for us.

[2020-05-28 13:41] callahantiff commented on #184
@vidarmehr - my account is free for more than 40 minutes, but I have a meeting at 12:30pm ET I will have to use it for (sorry!). So, I think it's best to use your meeting room this time.

[2020-05-28 15:06] justaddcoffee commented on #173
Thanks @fengchenLBL! this is great

@LucaCappelletti94, maybe we 3 can chat when you get a chance about that error?

[2020-05-28 15:20] LucaCappelletti94 commented on #173
Sure, where would you prefer to chat?

[2020-05-28 16:33] fengchenLBL commented on #173
@LucaCappelletti94 , this is the BO.csv I got from the test:
[code]

[2020-05-29 14:55] justaddcoffee commented on #173
@fengchenLBL - thanks so much for the effort, this is great.

hi @LucaCappelletti94 - could chat today at some point, or we can cat asynchronously on this ticket. In the meantime, does the output of Fengchen look reasonable? It looks to me like it's working, and the loss function steadily decreases...

[2020-05-29 14:59] LucaCappelletti94 commented on #173
@justaddcoffee yes that looks like it is working as expected! We still have the points collision, but those are to be addressed in Ray. I'm already working on a new pull request to patch that aspect with @richardliaw.

As for the chat, today I've really little time without meetings, would Sunday or Monday morning (your time) work for you?

[2020-05-29 16:41] fengchenLBL commented on #173
@justaddcoffee @LucaCappelletti94  Good to know it's working as expected. Both Sunday and Monday work for me.

[2020-05-31 17:26] justaddcoffee opened #194 "question about gamma parameter calculation"
@pnrobinson - we have a question about these lines, which contain two different uses of the gamma parameter:

https://github.com/monarch-initiative/embiggen/blob/f8a847d56c73ec1a87d19f1a729baa2f03755f70/embiggen/hetnode2vec.py#L246

https://github.com/monarch-initiative/embiggen/blob/f8a847d56c73ec1a87d19f1a729baa2f03755f70/embiggen/hetnode2vec.py#L318

Notice the latter does not have parentheses

[2020-05-31 17:59] pnrobinson commented on #194
This is our new method and so there is no literature yet.
@vidarmehr  I think that only this is correct:
[code]
and this looks like it is missing a parenthesis in the denominator
[code]

[2020-05-31 19:09] justaddcoffee commented on #194
thanks @pnrobinson - we'll assume the former is correct:
`float(self.gamma) / (float(count) * num_types)`
@vidarmehr could you let us know if we are mistaken?

[2020-05-31 19:15] vidarmehr commented on #194
@justaddcoffee Yes, Justin!   Parenthesis were missing. We have not checked if this algorithm works or not. But, I think that is how probabilities should be calculated.

[2020-05-31 19:17] justaddcoffee commented on #194
great thanks @vidarmehr !

[2020-05-31 20:00] justaddcoffee commented on #194
@LucaCappelletti94 pushed a commit [here](e12684a850ade345763b8404e1d72d25c0ac3a81) to close this issue

[2020-05-31 20:00] #194 closed

[2020-06-02 01:25] pnrobinson opened #195 "Do we need both self.display_step and self.eval_step"
Do we need both of these? I would suggest we simplify and just have display step (set it at a default of 10,000 or so).
[code]

[2020-06-02 01:26] pnrobinson commented on #187
The code was inconsistent and even though the arguments included a list, the actual body of the function can only use an int (number of words to display). I have repaired this and also set the number of display steps to 10,000, which means we can see the nearest neighbor of some words every 10,000 steps. We now get results that look good;
[code]

[2020-06-02 01:28] pnrobinson commented on #187
See https://github.com/monarch-initiative/embiggen/pull/196

[2020-06-02 08:20] LucaCappelletti94 opened #197 "Error in CBOW"
The currently implementation of CBOW has a [return statement **inside** the epoch loop](https://github.com/monarch-initiative/embiggen/blob/f8a847d56c73ec1a87d19f1a729baa2f03755f70/embiggen/word2vec.py#L678), hence it never did more that a single epoch.

[2020-06-02 08:22] LucaCappelletti94 commented on #192
The implemented [Embiggen class can be seen here](https://github.com/monarch-initiative/embiggen/blob/oriented/embiggen/embiggen.py).

[2020-06-02 14:29] vidarmehr commented on #197
@LucaCappelletti94 Yes!! Thanks Luca. I was thinking that there must be a bug somewhere because I did not see any improvements in AUC score when I increased number of epochs.

[2020-06-02 14:35] LucaCappelletti94 commented on #197
I believe we should tackle this and the other errors I have mentioned on Gitter in refactoring of the word2vec methods.

[2020-06-02 14:51] vidarmehr commented on #197
Yes! Let's solve the issues at the zoom meeting today.

[2020-06-03 09:43] LucaCappelletti94 opened #204 "Filtering short walks"
As per convo of the 2nd of June, we need to implement a filter for the short walks.

I would add this as @pnrobinson suggested, with the user requiring a number of walks `num_walks`, which by default should be `number_of_nodes*num_walks`.

We filter the walks that are less than a given step and add them up until we get to the required amount.

The issues with this approach are two:
- As @realmarci

[2020-06-03 17:53] realmarcin opened #205 "keyerror for subject or object starting with a colon eg ':BR', ':BS', ':CR'"
The leading colon is not a data bug. It just means there is no prefix for that CURIE

The leading colon is not a data bug. It just means there is no prefix for that CURIE. Its what we default to when we don't know what the prefix of a node id would be. So these CURIEs are valid and should work.

Here is some log output and stack trace -- suggesting this is failing on mapping embeddings to nodes:

[2020-06-04 22:55] pnrobinson opened #207 "get_embedding"
Just to note here that I am going to put the get embedding method into the Embedding superclass. I do not think we need it anywhere else. Please add comments if this is not true!

[2020-06-04 23:00] pnrobinson commented on #207
Actually, it seems better to just add the TensorFlow get embedding code directly to CBOW.

[2020-06-04 23:09] pnrobinson opened #208 "uniform vs Normal init for embeddings"
Currently, we initialize the embeddings using a normal distribution in CBOW and using a uniform distribution in  SG. For now, I am going to replace both using the uniform distribution in the constructor of Word2Vec. Once everything is working, we should test whether we should use normal or uniform or whether it does not matter.
[code]
and
[code]

[2020-06-04 23:16] pnrobinson opened #209 "Output layer options SG vs CBOW"
Similar to https://github.com/monarch-initiative/embiggen/issues/208, we have two slightly different ways of initializing the output layer weights and biases. There is no reason to have different versions. I am going to use the version that we had for CBOW. After everything is working again, we should compare both for a few datasets

[code]
and
[code]

[2020-06-04 23:25] pnrobinson opened #210 "calling superclass fit() from Skipgram or CBOW"
Should we put all of the Q/C code into the super class Word2vec
and then in Cbow have

[code]

[2020-06-05 07:00] LucaCappelletti94 commented on #210
That should look like the following:

[code]

[2020-06-09 19:50] pnrobinson opened #211 "tensorflow.python.framework.errors_impl.NotFoundError: Could not find valid device for node."
This call to use the cpu is now leading to an error
[code]
leads to
[code]
(This is on the refactoring branch)

[2020-06-09 22:21] pnrobinson opened #212 "Given context window (3) is larger than at least one of the tensors in X (len=2)"
We will need to adapt the extraction of word 2 vec sentences to skip sentences that are too short, otherwise we are likely to get this error a lot
[code]

[2020-06-09 22:31] pnrobinson commented on #212
This is data from the Emails file
[code]
Some of the sentences have zero length or 1 item.

[2020-06-09 23:00] pnrobinson commented on #212
I tried this (text_encoder) but for some reason it is not working (i.e., it is still returning zero-length sentences) @callahantiff @deepakunni3  Is this the right way to do it in python?
[code]

[2020-06-09 23:11] callahantiff commented on #212
@pnrobinson - how did you isolate this problem to the text_encoder workflow specifically? Does it seem like the output of that step is what is causing the error that you mentioned?

[2020-06-09 23:14] pnrobinson commented on #212
I was trying to modify the text encoder to skip sentence shorter than self.minlen
(embedding_refactor branch). In the new Embedder class, we check whether there are sentences that are shorter than context_window, and that is where the error is coming from. I add this line
[code]
in an attempt to filter but apparently that does not work --

[2020-06-09 23:21] callahantiff commented on #212
Oh, I see!! OK. In that case, if we assume that the sentence_data is a nested list, then the code that are showing should work. I am guessing that it's not working because that class outputs a tensor object. Are you looking for a similar solution that works on a tensor object? I just want to make sure I am clear on what you are looking for :D.

[2020-06-09 23:39] callahantiff commented on #212
One more question, can we assume that we know the window length and add it as an attribute to the text_encoder class? If so, I think I we can make an easy update in the pipeline prior to outputting tensors.

[2020-06-10 10:32] pnrobinson commented on #212
In the branch, I added a minlen parameter to the text_encoder class, which probably makes sense anyway. But yes, in general we will know the window length in time to use the information for the text encoder.

[2020-06-10 22:50] pnrobinson commented on #212
@callahantiff awesome thanks!

[2020-06-10 22:50] #212 closed

[2020-06-10 22:50] pnrobinson commented on #211
I am not sure what this was, but it is not occurring anymore and presumably was related to refactoring.

[2020-06-10 22:50] #211 closed

[2020-06-10 22:51] pnrobinson commented on #210
OK~!

[2020-06-10 22:51] #210 closed

[2020-06-11 19:28] pnrobinson commented on #197
I think this was taken care of!

[2020-06-11 19:28] #197 closed

[2020-06-16 17:08] callahantiff opened #213 "GGI Data"
@pnrobinson - In the spirt of being reproducible 😄 , I have created a Google Colab Notebook (available via GitHub Gist) that provides details on the GGI data, including:
- A description of the source
- Text that can be plugged into the methods section of a paper
- All code needed to download and preprocess data.

Let me know if you have any questions! A link to the Colab Notebook and a link to dow

[2020-06-16 17:09] callahantiff commented on #213
The text in the notebook that appears after "Data Documentation for use in Publications" is what I was thinking we could add to the paper. Let me know if there is additional information I can add or if there are needed edits. Happy to make updates!

[2020-06-16 20:49] vidarmehr commented on #213
@callahantiff Hi Tiffany, Thank you very much! I downloaded the Data: GGI_Combined_HomoSapien_16June2020.csv

Just one question.  Do you know if the weight play any role in this dataset or not? In STRING datasets, there is a score for protein protein interactions and interactions that have score more than 700 are usually extracted for analysis and creating a network. So, I wanted to know if there

[2020-06-16 21:06] callahantiff commented on #213
@vidarmehr - Great question! I will admit that the documentation provided by GeneMANIA on the weights is not super straightforward, but from what I interpret from their website the weights are an indicator of connectivity strength. Here is what they say ([http://pages.genemania.org/faq/](http://pages.genemania.org/faq/)):

**Related papers:**
- [`PMC:2894508`](https://www.ncbi.nlm.nih.gov/pmc/arti

[2020-06-16 21:59] vidarmehr commented on #213
@callahantiff Ok. Thanks for your explanations, Tiffany!

[2020-06-16 22:38] vidarmehr commented on #213
@callahantiff Tiffany, sorry to bother you again. Just one more question. In step 2 data preprocessing, you created a symmetric version of data. Does it mean that the graph constructed from the symmetric version of data is undirected?

[2020-06-16 22:46] callahantiff commented on #213
@vidarmehr - exactly right! if we want directed, I can update the pipeline and output the data prior to step 2.

[2020-06-16 22:49] vidarmehr commented on #213
@callahantiff Ok. Great! I think we are interested in undirected graphs:) Thanks a lot.

[2020-06-16 22:50] callahantiff commented on #213
Perfect, then you should be good to go with the version linked in the GitHub Gist. Thanks for all of the questions 😄

[2020-06-25 20:20] pnrobinson commented on #207
This was done in the latest refactor

[2020-06-25 20:20] #207 closed

[2020-06-25 20:20] pnrobinson commented on #180
I have not seen this error since then. I will close this issue for now!

[2020-06-25 20:20] #180 closed

[2020-06-25 20:23] pnrobinson commented on #177
tagged releases working now!

[2020-06-25 20:23] #177 closed

[2020-06-25 20:27] pnrobinson commented on #114
We have refactored such that the vocab size needs to be calculated outside of the Word2vec/GloVe classes.

[2020-06-25 20:27] #114 closed

[2020-06-25 20:28] pnrobinson commented on #166
In the meantime, everything is working!

[2020-06-25 20:28] #166 closed

[2020-06-25 20:29] pnrobinson commented on #187
This should now be implemented as a callback.

[2020-06-25 20:29] pnrobinson commented on #195
We will implement this functionality as a single callback class, this is no longer needed!

[2020-06-25 20:29] #195 closed

[2020-06-25 20:30] pnrobinson commented on #184
@vidarmehr is this issue still active or can it be closed?

[2020-06-25 20:58] vidarmehr commented on #184
@pnrobinson It can be closed.

[2020-06-25 20:58] #184 closed

[2020-06-25 21:37] pnrobinson commented on #205
@justaddcoffee is this still active?

[2020-06-25 21:39] pnrobinson commented on #123
This seems to be working now, at least in virtual env's. Can we close or if the issue persists should we just add this to the README? @realmarcin

[2020-06-25 21:40] justaddcoffee commented on #205
@pnrobinson I can confirm that CURIEs with leading ':'s are handled correctly in `new_graph_representation` branch

[2020-07-01 00:29] richardliaw commented on #173
hey all, is this blocked on anything? anything you need from the ray side?

[2020-07-01 07:19] LucaCappelletti94 commented on #173
Hi @richardliaw, currently we are still finishing up the codebase. We will start again experimenting with BO in the next few weeks and we'll let you know how it goes!

[2020-07-02 20:13] vidarmehr opened #216 "error when running test_graph_embedding"
@LucaCappelletti94 Hi Luca,
I am receiving an error message when I run the tests in test_graph_embedding.py in new_graph_representation branch.
The error is:
[code]
I successfully ran the code last week. Did you change anything in EnsmallenGraph?
Thanks.

[2020-07-02 21:19] LucaCappelletti94 commented on #216
Hello Vida, yes EnsmallenGraph is quickly evolving to be able to introduce the features necessary to generate holdouts etc... and I still have to update accordingly the tests in Embiggen. We should be able to deploy a new version during the coming weekend if it's not blocking your work currently.

[2020-07-02 21:23] vidarmehr commented on #216
@LucaCappelletti94 Oh, OK! No worries. Thanks, Luca:)

[2020-07-02 21:23] #216 closed

[2020-07-08 22:07] LucaCappelletti94 opened #218 "Tutorial with Leskovec-Like Link Prediction"
I still need to add a tutorial for Leskovec-Like Link Prediction.

This is a note for that to to be solved.

[2020-07-08 22:08] LucaCappelletti94 opened #219 "Update SonarCloud organization"
I believe we still need to update the SonarCloud organization to get its updated reports.

@pnrobinson could we have a short call do tackle that?

[2020-07-08 22:08] LucaCappelletti94 opened #220 "Add SkipGram model version with NCE loss"
Since it's possible to be done, I'll add it in the next few days.

This is a note for that to to be solved.

[2020-07-09 09:39] LucaCappelletti94 commented on #220
Issue resolved with commit https://github.com/monarch-initiative/embiggen/commit/85927f912b97ad71ef7f11926c6942d80ec4ffdd.

[2020-07-09 09:39] #220 closed

[2020-07-09 09:49] LucaCappelletti94 commented on #204
This is now supported within EnsmallenGraph.

[2020-07-09 09:49] #204 closed

[2020-07-09 09:50] #192 closed

[2020-07-11 15:01] LucaCappelletti94 commented on #218
Introduced tutorial with notebook in commit https://github.com/monarch-initiative/embiggen/commit/67ec09f6576b4e04613d32dbab10620563316b8c

[2020-07-11 15:01] #218 closed

[2020-07-15 21:15] pnrobinson opened #223 "error: numpy 1.19.0 is installed but numpy<1.19.0,>=1.16.0 is required by {'tensorflow'}"
Attempted fresh install with
[code]
leads to
[code]

[2020-07-15 21:17] pnrobinson commented on #223
I could do an install by adding requirements for numpy
[code]

[2020-07-29 16:48] pnrobinson commented on #208
This has become stale with the refactorings.

[2020-07-29 16:48] #208 closed

[2020-07-29 16:49] pnrobinson commented on #111
Given our overall good performance, I do not think that it is necessary to do more optimization of the number of neg examples.

[2020-07-29 16:49] #111 closed

[2020-07-29 16:50] pnrobinson commented on #187
This could now be done with standard keras tools.

[2020-07-29 16:50] #187 closed

[2020-07-29 16:50] pnrobinson commented on #209
This issue has become stale, closing!

[2020-07-29 16:50] #209 closed

[2020-07-29 16:51] pnrobinson commented on #219
@LucaCappelletti94 is this still active?

[2020-07-29 16:51] pnrobinson commented on #176
duplicate with #219

[2020-07-29 16:51] #176 closed

[2020-07-29 17:00] LucaCappelletti94 commented on #219
Yes, when do you have time to tackle this? Maybe tomorrow?

[2020-07-29 17:23] pnrobinson commented on #219
Tomorrow 9AM or 1PM Eastern (=15h, 19h)?

[2020-07-29 17:38] LucaCappelletti94 commented on #219
I would go with the latter!

[2020-07-29 17:43] pnrobinson commented on #219
OK, thanks, see you tomorrow 1PM/19h!

[2020-08-05 07:15] #219 closed

[2020-08-05 07:16] LucaCappelletti94 commented on #223
Since this error does not lead to broken installations nor it stops the pip install process I would suggest we just leave the requirement for "numpy".

[2020-09-01 20:25] vidarmehr opened #230 "Error in splitting the edgelist"
@LucaCappelletti94 Hi Luca, I am using Graph embedding using Skipgram jupyter notebook file to embed a heterogenous graph containing genes as nodes and two different edge types. I receive this error message when I run Split the graph into two edge partitions:

ValueError                                Traceback (most recent call last)
<ipython-input-25-e655ec9b15fd> in <module>
      1 assert grap

[2020-09-02 06:51] LucaCappelletti94 commented on #230
Hello Vida, could you send me the report of the graph (and the graph files)?

[2020-09-02 07:41] LucaCappelletti94 commented on #230
I have identified the root of the issue (which is also relevant for a previous problem encountered by @justaddcoffee ). We have not defined the behaviour of the connected holdouts for multigraphs (graphs with multiple edge types).

We should have a call on the topic, to choose how to proceed.

[2020-09-02 12:55] vidarmehr commented on #230
Hi Luca,

{'selfloops_rate': '0.000014785572238609565',
 'bidirectional_rate': '1',
 'unique_node_types_number': '0',
 'degrees_mode': '1',
 'degrees_mean': '48.229260755883054',
 'degrees_max': '1399',
 'degrees_median': '15',
 'singleton_nodes': '0',
 'is_directed': 'false',
 'unique_edge_types_number': '2',
 'strongly_connected_components_number': '93',
 'nodes_number': '16828',
 'connected_com

[2020-09-02 12:57] vidarmehr commented on #230
Sure. Thanks. I will schedule a meeting with you and Peter. Does 10 am (ET) = 4 pm (Italy) work for you?

[2020-09-02 13:38] pnrobinson commented on #230
I could do 10AM

[2020-09-02 18:44] vidarmehr commented on #230
@LucaCappelletti94 Luca, can we talk about this issue tomorrow? Thanks.

[2020-09-02 18:47] vidarmehr commented on #230
@LucaCappelletti94 Sorry. I missed the meeting because of some issues with outlook on my machine. Did you discuss this problem?

[2020-09-03 14:15] vidarmehr commented on #230
What about 11 am (ET) = 5pm Italy?

[2020-09-06 11:27] LucaCappelletti94 commented on #230
We are addressing this issue in this new holdout method: https://github.com/LucaCappelletti94/ensmallen_graph/issues/16

[2020-10-07 16:43] vidarmehr commented on #230
I close this issue as we are addressing it in LucaCappelletti94/ensmallen_graph#16 and https://github.com/monarch-initiative/syntheticLethalityNetwork/issues/231

[2020-10-07 16:43] #230 closed

[2020-10-26 20:01] vidarmehr opened #233 "Graph embedding using Skipgram"
@LucaCappelletti94 @zommiommy

Hi guys,
I am running Graph embedding using Skipgram on homogeneous version of the SLI graph and I am receiving this error message when I run block 4 of the notebook file: `training, validation = graph.connected_holdout(42, 0.8)`

---------------------------------------------------------------------------
TypeError                                 Traceback (most rece

[2020-10-26 20:04] justaddcoffee commented on #233
Hi Vida -
try:
`training, validation = graph.connected_holdout(train_size=0.8, random_state=42)`
Does this work?

[2020-10-26 20:11] vidarmehr commented on #233
@justaddcoffee Hi Justin. Thanks. No. I t does not work.
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-7-b3776292db35> in <module>
----> 1 training, validation = graph.connected_holdout(train_size =0.8, random_state = 42)

TypeError: EnsmallenGraph.connected_holdout() missing re

[2020-10-26 22:12] LeoPompidou commented on #233
I think you can leave out the 42 and give just one argument (the 0.8)

[2020-10-26 22:17] LucaCappelletti94 commented on #233
Hello Vida, I just wanted to point out that the version of Ensmallen that is currently on Pypi does not support the type of holdout that we have been discussing for the SLI experiment and all these new algorithms are still very experimental.

I have completed the updated report on the SLI graphs and sent it to Giorgio for evaluation.
We are working on the develop branch of EnsmallenGraph if you we

[2020-10-27 02:18] vidarmehr commented on #233
@LucaCappelletti94 Hi Luca, Thanks. Leo and I want to have embedding of the homogeneous SLI graph. We will run embedding with new holdouts on the multigraph SLI after the implementation is complete.

[2020-10-27 02:19] vidarmehr commented on #233
Yes. Thanks, Leo.

[2020-10-27 02:19] vidarmehr commented on #233
Yes. Thanks, Leo.

[2020-10-27 07:59] LucaCappelletti94 commented on #233
Ok, but the graph you currently have available does not include all the fixes that I have been resolving the past week and you would end-up with an embedding that is not useful for the prediction tasks that were proposed.

[2020-10-27 14:03] vidarmehr commented on #233
@LucaCappelletti94 Thanks Luca. Well, we are hoping to get some initial results that Leo can use in his thesis. We may/may not use them in the paper though.

[2020-10-27 14:31] vidarmehr commented on #233
@LucaCappelletti94 Luca, I have a workshop today (12 pm -3:30 pm ET) and I cannot attend the meeting today. If you have any questions, please send me an email or message on Gitter.

[2020-10-27 15:36] vidarmehr commented on #233
@LucaCappelletti94 Luca, by the way, there are currently 15 branches in this repo. I think it is good to start merging them.
Maybe after you finish holdout implementation for the SLI graph, we can start merging the branches.

[2020-10-27 17:34] LucaCappelletti94 commented on #233
Done!

[2020-10-27 17:34] LucaCappelletti94 commented on #233
The holdout mechanism is entirely in Ensmallen.

[2020-10-28 22:33] vidarmehr commented on #233
Thanks Luca. Did you delete 14 branches? I did not receive any notification for pull request, but it seems all branches are deleted, except the master.

[2020-10-29 06:56] LucaCappelletti94 commented on #233
Yes I have removed all the stale branches (all of the branches with updated features or not dead features that we just stopped developing).

[2020-10-29 12:13] #233 closed

[2020-11-27 14:07] LucaCappelletti94 commented on #183
Now random walks and link prediction sequences are seedable and reproducible. The embeddings, being based on TensorFlow, are not yet reproducible.

[2020-11-27 14:10] #183 closed

[2020-11-27 14:11] LucaCappelletti94 commented on #46
Embiggen is now published on Embiggen (and we should publish the updated one in about 1 week, as the updated Ensmallen is finally getting stable)

[2020-11-27 14:11] #46 closed

[2020-11-27 15:02] LucaCappelletti94 commented on #205
If this is no longer active I can close the issue.

[2020-12-29 16:20] callahantiff opened #236 "migrating from Travis to GitHub Actions"
Do we want to migrate from Travis to GitHub Actions? If so, I am happy to do the work. I converted Luca's pipeline to run with all of the same coverage metrics for my repositories and am happy to do the same for this repo (examples [here](https://github.com/callahantiff/PheKnowLator/actions?query=workflow%3A%22Rosey+the+Robot%22) and [here](https://github.com/callahantiff/OMOP2OBO/actions?query=wo

[2020-12-29 16:58] pnrobinson commented on #236
Not that familiar with GitHub actions, does it do about the same thing as Travis? After a quick glance at PheKnowLator it does look powerful

[2020-12-29 17:05] callahantiff commented on #236
It provides a nice free alternative to Travis since it's now moved to being a [paid service](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing). I have tried to configure it to shadow @LucaCappelletti94's original Travis configuration, so you shouldn't notice any feature loss. I am really loving it for how easy it is to build in other functionality (e.g. deploying containers and integrat

[2020-12-29 17:08] justaddcoffee commented on #236
Good idea Tiffany - I did the conversion from Travis to GH actions to run
unit tests and linters for KG-COVID-19 and NEAT, I might be able to help a
bit too.

Not sure if I’m admin on Embiggen, but if not yeah we’d need Peter or
someone else with admin to help

On Tue, Dec 29, 2020 at 08:59 Peter Robinson <notifications@github.com>
wrote:

--
Justin Reese, Ph.D.
Berkeley Bioinformatics Open-source

[2020-12-31 16:21] vidarmehr opened #237 "Error with running word embedding on pubmed"
Hi Luca,
Here is the error message when running word embedding on pubmed:
multiprocessing.pool.RemoteTraceback:

[code]

[2020-12-31 16:22] vidarmehr commented on #237
I will share with you a pubmed file with 100,000 lines in google drive.

[2020-12-31 16:29] LucaCappelletti94 commented on #237
Could you also add the *minimal* code needed to reproduce this?

[2020-12-31 16:34] vidarmehr commented on #237
import silence_tensorflow.auto # Import needed to avoid TensorFlow warnings and general useless infos.
import pandas as pd
import numpy as np
from embiggen import CorpusTransformer
from embiggen import Word2VecSequence
from tensorflow.distribute import MirroredStrategy
from embiggen import SkipGram
from tensorflow.keras.optimizers import Nadam
from tensorflow.keras.callbacks import EarlyStopping,

[2020-12-31 16:36] vidarmehr commented on #237
The path to pubmed_data should be the file that I shared with you.

[2020-12-31 18:40] LucaCappelletti94 commented on #237
There are NaN values in the PubMed file, that is what is causing the issue. I will add an exception to notify immediately of this issue so that the error will be easier to understand.

<img width="202" alt="Schermata 2020-12-31 alle 19 40 15" src="https://user-images.githubusercontent.com/7738570/103422098-02dfbd00-4ba0-11eb-8c36-8b44c150619a.png">

[2020-12-31 18:44] vidarmehr commented on #237
Oh, Ok. Thanks, Luca. I will also check with Hannah because this is a new file that was generated. I don't think we had NaN values in the second column before.

[2020-12-31 19:13] LucaCappelletti94 commented on #237
I have updated the exception that is now more explicative for these cases. I have already published the updated version, so you can simply run `pip install embiggen -U` to get the latest.

[2020-12-31 19:13] #237 closed

[2021-01-28 15:00] vidarmehr opened #238 "link prediction"
@LucaCappelletti94 I am using classical link prediction [here](https://github.com/monarch-initiative/embiggen/blob/master/notebooks/Classical%20Link%20Prediction.ipynb) and I receive this error message:

ValueError                                Traceback (most recent call last)
<ipython-input-7-2e3427f71b2b> in <module>
      7 os.makedirs("classical_link_prediction", exist_ok=True)
      8
---->

[2021-01-28 15:41] LucaCappelletti94 commented on #238
Hello Vida! Briefly, those Jupiter notebooks are quite old.
I have been putting off updating them because I am focusing on finalizing Grape.
In the updated models, of which performance I had presented in the last few calls, the code is significantly less complex and quite different from the old one in those notebooks. I understand the need for having a guide with how to proceed with embeddings and

[2021-01-29 19:52] vidarmehr commented on #238
@LucaCappelletti94 Ok, Luca. Thank you.

[2021-01-29 19:53] vidarmehr commented on #238
I keep the issue open to make sure we address all bugs/errors in embiggen.

[2021-07-29 19:17] saadljazouli opened #247 "conda build error"
Hi,

I am trying to build a conda package of **embiggen**, but I am getting a lot of dependency conflict errors. I am using the below meta.yaml file (generated using _conda skeleton pypi embiggen_). Would it be possible to have some pointers to make this package work? Many thanks for your help.

**meta.yaml file**

`{% set name = "embiggen" %}
{% set version = "0.8.5" %}

package:
  name: "{{ name

[2021-08-05 06:41] LucaCappelletti94 commented on #247
Hello @saadljazouli, sorry for the delay. I have updated the develop branch of Embiggen to work with the current develop branch of Ensmallen.

We are currently running benchmarks for the latest version of Ensmallen and this is devouring most of my time.

We may plan a call to package everything together, when do you have time? This week I am quite packed, possibly starting next week?

Best,
Luca

[2021-08-09 16:25] caufieldjh opened #248 "AttributeError with builtins.EnsmallenGraph"
Guessing this is relevant to the updates for integrating ensmallen better.
When running
`embedding, history = compute_node_embedding(cora, "CBOW", verbose=2)`
the following error is raised:

`Traceback (most recent call last):
  File "embiggen_test.py", line 15, in <module>
    embedding, history = compute_node_embedding(cora, "CBOW", verbose=2)
  File "/home/jhc/embiggen/embiggen/pipelines/comput

[2021-08-09 16:27] LucaCappelletti94 commented on #248
Hello @caufieldjh, that suggests that the Ensmallen version you are using is deprecated. From where did you install it? If you'd like we can setup a call to understand what is going wrong and fix it.

[2021-08-09 17:45] caufieldjh commented on #248
Thanks @LucaCappelletti94 - I tried a fresh rebuild of Ensmallen from source (from the develop branch) and now have some fresh errors upon loading the Cora graph:

Traceback (most recent call last):
  File "embiggen_test.py", line 10, in <module>
    cora = Cora()
  File "/home/jhc/.local/lib/python3.8/site-packages/ensmallen_graph/datasets/linqs/cora.py", line 109, in Cora
    return Automaticall

[2021-08-09 18:59] LucaCappelletti94 commented on #248
Reproduced the error, on it!

[2021-08-09 19:36] LucaCappelletti94 commented on #248
Resolved, it was a recently introduced variable ghosting problem that only showed itself on graphs that require an additional preprocessing like Cora. Do let me know if everything runs smoothly!

[2021-08-10 07:37] LucaCappelletti94 commented on #248
Hello @caufieldjh, do feel free to open other issues for those errors (even though they are unclear), possibly they will be helpful in the future if someone else encounters them.

[2022-03-25 17:11] hrshdhgd opened #257 "Exporting EdgeTransformer Object"
We are looking a way to export the `EdgeTransformer` object (preferably serialized). Is there a method that already exists to do that?

What we are trying to do is this:

1. We trained an ML model (sklearn: Logistic Regression).

2. We are trying to export a trained model to later import it and predict links on a graph.

As far as we understand, we need to save off the `EdgeTransfomer` object that

[2022-03-26 11:12] LucaCappelletti94 commented on #257
Hello @hrshdhgd, breaking the issue in a few different points and premises:

- Why use a logistic regression instead of a GNN? It is readily available in Embiggen, and the Perceptron version of it is quite similar to a Logistic Regression in a few aspects if simplicity is the goal. This option does not use entirely the EdgeTransformer, as the edge encoding (if any) is done in the GPU. We can plan

[2022-03-26 12:35] LucaCappelletti94 commented on #257
This issue should be now resolved in the develop branch, please do let me know if it persists.

[2022-03-26 13:44] hrshdhgd commented on #257
Thank you so much @LucaCappelletti94 ! I'm new to NEAT and the whole architecture and hence wasn't aware of the GNN availability in Embiggen.

The issue of the lambdas does make sense and @caufieldjh did suspect that being the reason.

Thanks again for the quick response. I'll install the develop branch locally, try it out some time this coming week and report back.

[2022-03-26 16:56] justaddcoffee commented on #257
Thanks @LucaCappelletti94 !

We are using logistic regression just as a simple example of a classifier (basically we just need a working test example that exercises the whole process: graph -> embeddings -> train classifier -> apply classifier), but yes we'd love to implement support for GNNs in NEAT.

Looks like we can now pickle edge transformers - thanks for the quick refactor!

Maybe you could

[2022-03-29 19:05] LucaCappelletti94 commented on #257
Hi @hrshdhgd, can you confirm that the pickling issue is fixed?

[2022-03-29 19:07] hrshdhgd commented on #257
Hey @LucaCappelletti94 , I was going through the issue with @justaddcoffee and @caufieldjh today. It seemed like I still am seeing the same error in spite of upgrading embiggen and ensmallen to the latest dev versions.

[2022-03-30 13:47] LucaCappelletti94 commented on #257
Ok, could we do a short call where you show me the exact error? Do you have a Colab notebook where I can reproduce it?

[2022-03-30 14:11] hrshdhgd commented on #257
I do not have a Collar notebook yet. I could create one and let you know so we could go through it together.

[2022-03-30 14:41] hrshdhgd commented on #257
I installed the `develop` branch from embiggen and the pickling does seem to work! Thanks @LucaCappelletti94 !!

[2022-03-30 14:41] #257 closed

[2022-06-07 12:37] LucaCappelletti94 commented on #223
Closing this issue as deprecated in the new version of Embiggen. Please feel free to reopen as need be.

[2022-06-07 12:38] LucaCappelletti94 commented on #205
Closing this issue as deprecated in the new version of Embiggen. Please feel free to reopen as need be.

[2022-06-07 12:38] #205 closed

[2022-06-07 12:38] LucaCappelletti94 commented on #173
Closing this issue as stale, no Ray experimentation was executed in the end.

[2022-06-07 12:38] #173 closed

[2022-06-07 12:39] LucaCappelletti94 commented on #113
Closing this issue as deprecated in the new version of Embiggen. Please feel free to reopen as need be.

[2022-06-07 12:39] #113 closed

[2022-06-07 12:39] #110 closed

[2022-06-07 12:39] LucaCappelletti94 commented on #123
Closing this issue as deprecated in the new version of Embiggen. Please feel free to reopen as need be.

[2022-06-07 12:39] #123 closed

[2022-06-07 13:03] pnrobinson commented on #236
@justaddcoffee  has some experience and I have done this in some other projects. Poorly documented. We could hack on it.

[2022-06-07 13:06] justaddcoffee commented on #236
I'm not terrible at github actions - maybe we can hack on this tomorrow @LucaCappelletti94

[2022-06-07 13:08] callahantiff commented on #236
If it is helpful, I converted a very similar set-up from Tavis to GitHub Actions. You might be able to start from this.

https://github.com/callahantiff/PheKnowLator/blob/master/.github/workflows/build-qa.yml

[2022-06-14 16:43] caufieldjh opened #267 "MemoryError with GraphVisualizer"
With `grape` 0.1.0, loading a graph of 10.80M heterogeneous nodes and 30.45M heterogeneous edges works as expected but fails with a MemoryError when calling `visualizer.fit_and_plot_all`:

[code]

I'm not sure what happens when this much memory *is* available.

[2022-06-14 17:36] LucaCappelletti94 commented on #267
Hello @caufieldjh, could you try now from the current `develop` branch? I should have successfully reduced the memory peak requirements. Also, now the `GraphVisualizer` accepts as input `EmbeddingResult`, so you do not need to call the `get_node_embedding_from_index` method anymore.

[2022-06-14 20:32] caufieldjh commented on #267
Hi @LucaCappelletti94 - I tried the current `develop` version of embiggen with some SPINE embeddings on the same graph, just to get to the visualization stage faster. This time, it ran out of memory in the middle instead of complaining during loading:
[code]

I'm still using the `get_node_embedding_from_index(0)` as this is what happens when I don't:
[code]

[2022-06-14 20:37] LucaCappelletti94 commented on #267
Ok, thanks! I'm fixing the second one. Could you please try to re-run the first thing and hit the stop button when you see the memory starting to climb? So we can easily identify where that happens.

[2022-06-14 21:15] LucaCappelletti94 opened #268 "Exposing parameter for `use_zipfian_sampling`"
As for @pnrobinson's request, the `use_zipfian_sampling` parameter should be exposed so to more easily evaluate the impact of the uniform/zipfian negative edges sampling bias in the evaluation of a model.

[2022-06-14 21:25] LucaCappelletti94 commented on #268
Exposed parameter `use_zipfian_sampling` for the [TRAINING of sklearn models](https://github.com/monarch-initiative/embiggen/blob/8cfed383af2822acf04f40c886415b560f68e1ac/embiggen/edge_prediction/edge_prediction_sklearn/sklearn_edge_prediction_adapter.py#L28) and for the [EVALUATION of models in the pipeline](https://github.com/monarch-initiative/embiggen/blob/8cfed383af2822acf04f40c886415b560f68e

[2022-06-14 21:50] caufieldjh commented on #267
Early stop from command line produces no output, and in a notebook the kernel just dies.

[2022-07-19 09:17] #268 closed

[2022-07-28 17:56] caufieldjh opened #281 "`fit_and_plot_all` visualization fails due to missing `has_constant_non_zero_node_degrees`"
When running something like the following:
[code]
The visualizer fails as:
[code]

This is with
[code]

[2022-07-29 12:51] LucaCappelletti94 commented on #281
Hello Harry! We are currently in a bit of a limbo, I have released the updated Ensmallen, but the current Embiggen release fell a bit behind because of unexpected bug fixing. I should be able to fix the gap today.

[2022-08-03 10:11] LucaCappelletti94 commented on #281
Hello Harry! The error is now fixed!

[2022-08-03 10:11] #281 closed

[2022-08-03 10:12] LucaCappelletti94 commented on #267
Hi Harry, can we try to iterate on this with the new version?

[2022-08-03 14:23] caufieldjh commented on #281
Thanks!

[2022-08-03 15:14] caufieldjh commented on #267
Sure! With `grape-0.1.10` (`ensmallen-0.8.8` and `embiggen-0.11.18`), repeating the same process as above (though with `DegreeSPINE` and calling `visualizer.fit_and_plot_all(embedding)`) works perfectly. Thanks!

[2022-08-03 18:20] LucaCappelletti94 commented on #267
Perfect!

[2022-08-03 18:20] #267 closed

[2022-08-04 15:10] cthoyt opened #285 "Update typos in PyKEEN"
it appears that the proper capitalization of PyKEEN hasn't been used throughout this package - hopefully we can fix that up

[2022-08-04 15:17] LucaCappelletti94 commented on #285
Yes, I have just fixed it as per the issue opened in 🍇. I am adding some other features, and the I will roll both out.

[2022-08-04 15:22] cthoyt opened #287 "Documentation"
It doesn't appear this project has documentation (jupyter notebooks don't count :p). Would highly suggest using sphinx to auto-generate some

[2022-08-10 14:25] #285 closed

[2022-08-29 15:42] caufieldjh opened #295 "In `dag_resnik`, assign NA for pairs with no common ancestor"
We've been running Resnik similarities on fairly large graphs, so pairs without common ancestor are good to know about but also throw an error. Could we add an option to skip the error and assign NA (or even zero) to these pairs instead?

[2022-08-29 15:42] caufieldjh commented on #295
@justaddcoffee

[2022-09-15 01:30] caufieldjh opened #296 "Resnik computations getting stuck"
In the continued adventures of Resnik -
In `semsim`, I've found that trying to run Resnik computation on KGPhenio seems to get stuck.
The DAG is 49291 nodes, including Upheno nodes, as we can't get paths between phenotype ontology nodes without them.

With code as follows:
[code]
will consume as much memory as is available without actually completing.
I tried this out on a cloud instance with 128

[2022-09-15 11:24] pnrobinson commented on #296
One optimization I have made in our Java code reflects the fact that if we start if an ontology that has subontologies that do not intermingle, you do not need to explicitly calculate the IC of terms where you know their MICA the root (e.g., liver and ear). This results in a large saving. Luca, can we do a code review and figure out if this might make sense here?